/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ____        _       __                     __  __      _                     
   / __ \____ _(_)___  / /_  ____ _      __   / / / /___  (_)________  _________ 
  / /_/ / __ `/ / __ \/ __ \/ __ \ | /| / /  / / / / __ \/ / ___/ __ \/ ___/ __ \
 / _, _/ /_/ / / / / / /_/ / /_/ / |/ |/ /  / /_/ / / / / / /__/ /_/ / /  / / / /
/_/ |_|\__,_/_/_/ /_/_.___/\____/|__/|__/   \____/_/ /_/_/\___/\____/_/  /_/ /_/ 
                                                                                 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.fond__red, .highlight-red, .faq .panel h4 a, .faq .panel h4 a:hover, .faq .panel h4 a:active, .faq .panel h4 a:visited, .panel-group .panel h4 a, .panel-group .panel h4 a:hover, .panel-group .panel h4 a:active, .panel-group .panel h4 a:visited, .event-cta {
  background-color: #ff5449; }

.fond__blue {
  background-color: #00abfa; }

.fond__green {
  background-color: #22d790; }

.fond__grey, body {
  background-color: #f2f2f2; }

.fond__grey-mid {
  background-color: #e7e7e7; }

.fond__white, .navbar, .fond__green .lab-links a, .highlight-white {
  background-color: white; }

.text__red, .fond__green .lab-links a, .highlight-white, .event-date-cta-wrapper, .jumbotron h1 {
  color: #ff5449; }

.text__blue, #animation-wrapper h1 {
  color: #00abfa; }

.text__green {
  color: #22d790; }

.text__grey-dark {
  color: #999999; }

.text__grey-mid {
  color: #e7e7e7; }

.text__grey-bright {
  color: #f2f2f2; }

.text__black, a, a:hover, a:visited, a:active, .fond__blue p a, .fond__blue li a {
  color: black; }

.text__white, .fond__green a, .highlight-red, .faq .panel h4 a, .faq .panel h4 a:hover, .faq .panel h4 a:active, .faq .panel h4 a:visited, .panel-group .panel h4 a, .panel-group .panel h4 a:hover, .panel-group .panel h4 a:active, .panel-group .panel h4 a:visited, .event-cta {
  color: white; }

.navbar {
  padding: 20px 0; }

.nav > li > a {
  padding: 0; }

.nav-pills li a {
  border-radius: 0; }
.nav-pills li a:hover {
  background-color: transparent; }

/*===============================
=            Helpers            =
===============================*/
/*-----  End of Helpers  ------*/
/*==================================
=            Typography            =
==================================*/
body {
  font-size: 18px;
  line-height: 1.6em;
  font-family: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
  font-weight: normal;
  font-style: normal; }

div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
  font-weight: normal;
  font-style: normal; }

h1, .h1, .jumbotron h1, h2, .h2, h3, .h3 {
  margin: 24px 0;
  text-transform: uppercase;
  font-size: 24px; }

h4, .h4 {
  text-transform: uppercase;
  margin: 28px 0;
  line-height: 28px; }

.fond__green a {
  text-decoration: underline; }

.fond__blue p a, .fond__blue li a {
  text-decoration: underline; }

.fond__white p a, .navbar p a, .fond__green .lab-links a p a, .highlight-white p a {
  text-decoration: underline; }

.fond__green .lab-links a {
  -webkit-box-shadow: 10px 0 0 white, -10px 0 0 white;
  -moz-box-shadow: 10px 0 0 white, -10px 0 0 white;
  box-shadow: 10px 0 0 white, -10px 0 0 white;
  display: inline;
  text-decoration: none; }

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
  text-decoration: none; }

label {
  font-weight: normal; }

#animation-wrapper h1 {
  line-height: 1.4em;
  margin-top: 0;
  letter-spacing: -0.05em;
  text-transform: inherit;
  font-size: 26px; }

.jumbotron {
  font-size: 18px;
  margin-bottom: 0; }
  .jumbotron p {
    margin: 28px 0;
    line-height: 1.6em; }

.highlight {
  font-size: 18px;
  line-height: 1.6em !important;
  text-transform: uppercase; }

.highlight-red, .faq .panel h4 a, .faq .panel h4 a:hover, .faq .panel h4 a:active, .faq .panel h4 a:visited, .panel-group .panel h4 a, .panel-group .panel h4 a:hover, .panel-group .panel h4 a:active, .panel-group .panel h4 a:visited {
  -webkit-box-shadow: 10px 0 0 #ff5449, -10px 0 0 #ff5449;
  -moz-box-shadow: 10px 0 0 #ff5449, -10px 0 0 #ff5449;
  box-shadow: 10px 0 0 #ff5449, -10px 0 0 #ff5449;
  display: inline; }

.highlight-white {
  -webkit-box-shadow: 10px 0 0 white, -10px 0 0 white;
  -moz-box-shadow: 10px 0 0 white, -10px 0 0 white;
  box-shadow: 10px 0 0 white, -10px 0 0 white;
  display: inline; }

.form-control, .btn {
  font-size: 18px;
  line-height: 1.6em; }

.faq .row div p {
  font-size: 16px; }

.meta-links-foot {
  text-transform: uppercase; }
  .meta-links-foot a, .meta-links-foot a:hover, .meta-links-foot a:visited, .meta-links-foot a:active {
    color: black;
    text-decoration: none; }

.foot-note {
  color: #999999;
  font-size: 16px; }

/*-----  End of Typography  ------*/
/*================================
=  Elements & Modifiers          =
================================*/
.jumbotron {
  padding: 15px; }

.btn {
  border-radius: 0;
  border: 0; }

.btn:hover {
  color: white; }

.btn-mitmachen {
  background-color: #ff5449;
  color: white;
  width: 100%; }

/* Pretty Checkboxes */
.prettyCheckbox {
  background: #efefef;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.prettyCheckbox.checked {
  position: relative; }

.prettyCheckbox.checked .check {
  background: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 100; }

/*============================
=   Home
============================*/
.init-hidden {
  visibility: hidden; }

.navbar {
  background-image: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0; }

.nav-social {
  margin-bottom: 20px;
  display: none; }
  .nav-social li {
    display: inline-block;
    margin-right: 5px; }
    .nav-social li:last-child {
      margin-right: 0; }
    .nav-social li a {
      background: #ff5449;
      color: white;
      height: 48px;
      width: 48px;
      line-height: 48px; }

.nav-social > li > a:hover {
  background: #ff5449;
  color: white; }

.main-nav-wrapper {
  margin: 20px 0; }
  .main-nav-wrapper .nav-pills li {
    border: 2px solid transparent; }
    .main-nav-wrapper .nav-pills li a {
      padding: 0 10px;
      color: #ff5449; }
  .main-nav-wrapper .nav-pills .current {
    border: 2px solid #ff5449; }

.marker {
  background-color: white;
  color: white; }

.form-control {
  height: 40px;
  padding: 6px 12px;
  color: black;
  border: none;
  border-radius: 0; }

.form-group .prettyCheckbox {
  margin-left: 10px; }

.form-group-newsletter div {
  padding: 0; }

.cfg-cities li {
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer; }
  .cfg-cities li:last-child {
    margin-right: 0; }

.cfg-cities-sub {
  font-size: 14px;
  margin: 0 0 32px 0 !important; }

.faq .panel, .panel-group .panel {
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .faq .panel h4, .panel-group .panel h4 {
    margin-top: 0; }
    .faq .panel h4 a, .faq .panel h4 a:hover, .faq .panel h4 a:active, .faq .panel h4 a:visited, .panel-group .panel h4 a, .panel-group .panel h4 a:hover, .panel-group .panel h4 a:active, .panel-group .panel h4 a:visited {
      margin-left: 10px;
      text-decoration: none; }
  .faq .panel p, .panel-group .panel p {
    margin-top: 0; }

.panel-body {
  padding: 0; }

.event-wrapper, .project-wrapper {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  padding: 30px;
  margin: 30px 0 0 0; }
  .event-wrapper h4, .project-wrapper h4 {
    margin: 7px 0 16px 0; }

.project-wrapper {
  margin: 0 0 32px 0; }

.project-status:before {
  font-family: 'FontAwesome';
  content: "\f135";
  font-size: 19px;
  color: black;
  margin-right: 10px; }

.project-links:before {
  font-family: 'FontAwesome';
  content: "\f14c";
  font-size: 19px;
  color: black;
  margin-right: 10px; }

.icon-before:before {
  display: inline-block;
  content: "";
  margin-right: 10px; }

.event-time:before {
  background-image: url("../img/time.svg");
  height: 20px;
  width: 18px; }

.event-location:before {
  background-image: url("../img/place.svg");
  height: 21px;
  width: 17px; }

.event-cta {
  display: inline-block;
  padding: 0 10px; }
  .event-cta a, .event-cta a:hover, .event-cta a:visited, .event-cta a:active {
    color: white;
    text-decoration: none; }

.event-date-cta-wrapper {
  text-align: center;
  margin: 15px 0 0 0; }

.event-date-d {
  text-transform: uppercase;
  font-size: 36px;
  padding-top: 26px;
  margin: 0 auto;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #ff5449;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  border-radius: 80px; }

.event-lab, .event-time, .event-location, .event-date-d {
  display: block; }

.partner img {
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px; }

.okfn-logo {
  max-width: 80%; }

.cfa-logo {
  max-width: 80%; }

.google-logo {
  max-width: 80%; }

/*-----  End of Home  ------*/
/*================================
=            Lab Page            =
================================*/
.lab-leads li {
  padding: 0; }

.packery-container {
  visibility: hidden; }

.packery-item-gutter {
  width: 5%; }

.packery-item {
  width: 100%; }

.project-image {
  margin-bottom: 28px; }

.project-link-list, .post-links, .project-links {
  margin-bottom: 26px; }

.project-collaborators:before {
  background-image: url("../img/collaborators.svg");
  height: 23px;
  width: 21px; }

.project-collaborators-list {
  margin-top: 18px; }

.members {
  line-height: 26px;
  font-size: 16px; }
  .members .member {
    margin-bottom: 26px;
    min-width: 100%;
    display: block;
    float: left; }
  .members .member-avatar {
    margin-right: 20px;
    width: 80px;
    height: 80px; }

/*-----  End of Lab Page  ------*/
/*===============================
=            Projects           =
===============================*/
.project-teaser-slim .image-crop {
  position: relative;
  height: 245px;
  overflow: hidden; }
  .project-teaser-slim .image-crop .project-image {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
    width: 100%; }

.loading {
  text-align: center; }
  .loading i {
    display: block;
    font-size: 72px; }

/*-----  End of Projects  ------*/
/*============================
=            Blog            =
============================*/
.blog-header:after {
  content: 'A';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white; }

.blog-post-teaser:first-child {
  margin-top: 0; }
.blog-post-teaser h2 {
  width: 60%; }
.blog-post-teaser img {
  max-width: 80%;
  margin: 30px auto; }

.blog-sidebar img {
  margin: 26px 0; }
.blog-sidebar .blog-sidebar-nl-signup h3, .blog-sidebar .blog-sidebar-nl-signup p {
  text-align: left; }
.blog-sidebar .rss-feed i {
  font-size: 26px; }
.blog-sidebar .rss-feed h3 {
  display: inline-block; }

.blog-page-nav {
  margin-top: 26px; }
  .blog-page-nav .newer {
    float: left; }
  .blog-page-nav .older {
    float: right; }

.post .event-wrapper {
  padding: 80px; }
.post h2, .post h3 {
  font-size: 18px; }

.post-links {
  margin: 26px 0 0 0; }
  .post-links a {
    text-decoration: underline; }

.post-title {
  float: left;
  margin-top: 0; }

.post-meta {
  float: right;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  color: gray;
  width: 40%; }
  .post-meta a {
    color: gray; }

.post-description p:last-child {
  margin-bottom: 0; }

.post-description img {
  margin: 30px auto;
  max-width: 70%;
  height: auto;
  display: block; }

.post-img-caption {
  display: block;
  text-align: center;
  margin-top: -30px;
  color: gray;
  margin-bottom: 10px; }

.post-page-nav {
  text-align: center !important;
  margin-top: 26px; }
  .post-page-nav a:hover {
    text-decoration: none; }

.twitter-feed .twitter-head h3 {
  float: left;
  margin-bottom: 0; }
.twitter-feed .twitter-head .follow-twitter {
  float: right;
  margin-top: 24px; }
.twitter-feed .event-wrapper {
  margin-top: 18px; }

/*-----  End of Blog  ------*/
/*================================
=  Google Map                   =
================================*/
#lab-map {
  width: 100%; }

.lab-map-home {
  height: 300px; }

.lab-map-city {
  height: 200px; }

.googleMapsInfoBox {
  font: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
  font-size: 16px;
  color: #ff5449;
  background-color: white; }

@media screen and (min-width: 481px) {
  #animation-wrapper h1 {
    font-size: 63px; }

  .okfn-logo {
    max-width: 50%; }

  .cfa-logo {
    max-width: 50%; }

  .google-logo {
    max-width: 50%; }

  .event-description {
    float: left;
    max-width: 75%; }

  .event-date-cta-wrapper {
    float: right;
    margin: 0;
    max-width: 25%; } }
@media screen and (min-width: 768px) {
  .navbar .container {
    max-width: 1320px; }

  .jumbotron {
    padding: 70px; }

  .meta-links-foot {
    padding: 35px; }

  .navbar {
    padding: 70px 0; }

  .highlight-hero {
    margin-left: 10px; }

  .nav-social {
    display: inherit; }

  .main-nav-wrapper {
    float: right;
    margin: 0; }

  .logo {
    float: left; }

  .main-nav-wrapper .nav-pills {
    float: right; }

  .lab-map-home {
    height: 600px; }

  .lab-map-city {
    height: 400px; }

  .members .member {
    min-width: 50%; } }
@media screen and (min-width: 1200px) {
  .okfn-logo {
    max-width: 100%; }

  .cfa-logo {
    max-width: 60%; }

  .google-logo {
    max-width: 80%; }

  .packery-item {
    width: 47.5%; }

  .members .member {
    min-width: 33%; } }
.row.board {
  margin-top: 10px;
  margin-bottom: 10px; }
