---
layout: base
title: Projects

---


<!-- Projekte -->
{% unless project_count == 0 %}
<div class="jumbotron fond__blue">
  <div class="container">
    <h3>Projekte</h3>

    <div class="packery-container">
      <div class="packery-item-gutter"></div>
      {% for post in site.categories.projects %}
        <div class="packery-item" >
          {% include project-teaser.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endunless%}
<!-- Projekte End -->

<script src="/js/lib/packery.pkgd.min.js"></script>
<script src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script src="/js/PackeryGrid.js"></script>

<script src="/js/lib/prettyCheckbox.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  
  packery = new PackeryGrid('.packery-container','.packery-item', '.packery-item-gutter');
  // $(":checkbox").prettyCheckbox();

});

</script>
