---
layout: default
footerlogos: yes
lang: en
---

<!-- Hero -->
<div class="hero-container fond__blue">
    <div class="hero-pattern">
      <div class="hero-pattern-wrap">
        {% include_cached inline-svg/optimized/stories_header.svg %}
      </div>
   </div>
    <div id="animation-wrapper" class="text-center">
      <h1 class="cta text__white animated-claim">
      {{ site.data.homehero.en.headline }}
      {{ site.data.homehero.en.claims[0] }}<span class="marker"></span>
      </h1>
      <h5 class="highlight highlight-hero cta-sub">
      <a href="/en/stadtgeschichten" ><span class="highlight-white">Read now</span></a>
      </h5>
    </div>
</div>

<!-- Lab Map -->
<div class="jumbotron hidden-xs fond__green map-container" style="padding:0px;">
      <div id="lab-map" class="lab-map-home"></div>
      {% include drl-map-legend.html %}
</div>

<!-- About -->
<div class="beneath-sections jumbotron fond__blue animated">
  <div class="container text-center text__black">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          Every week, Code for Germany teams throughout the country come together to use open data to build useful applications, visualizations, and other tools for citizens.<br><br>
          Local groups consist of programmers, designers, and open data enthusiasts. Together, they prove how code and software can help improve their cities and communities. <br><br>
          Current projects and applications as well as upcoming meetings to participate in can be found by clicking on a city near you.
        </p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
    </div>
    -->
  </div>
</div>


<!-- Newsletter -->
{% include_cached newsletter-form.html %}

<script src="/js/lib/jquery.cookie.js"></script>

{% include_cached leaflet.html %}

<script type="text/javascript">
  
  {% if page.lang == 'en' %}
    {% assign homehero = site.data.homehero.en %}
  {% else %} 
    {% assign homehero = site.data.homehero.de %}
  {% endif %}

  /* {{ homehero }} */

  herodata = {
    headline : '{{ homehero.headline }}',
    claims: [{% for claim in homehero.claims %}'{{ claim }}',{% endfor %}]
  }

</script>
