---
layout: base
title: "Overview of the OK labs"
lang: en
---

<!-- Lab Map -->
<div class="jumbotron fond__green map-container" style="padding:0px;">
  <div id="lab-map" class="lab-map-home"></div>
  {% include h4c-map-legend.html %}
</div>

<!-- About -->
<div class="beneath-sections jumbotron fond__blue animated">
  <div class="container text-center text__black">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Code for Germany teams meet regularly in 13 cities. The teams are linked locally and <a href="http://codeforamerica.org/about/international/">globally</a>. They exchange information on a regular basis, receive input and support from mentors and work together on code and applications. Every lab consists of members and lab leads. The leads organize meetings, manage communication channels, serve as points of contact and as a hub to the broader network. In January 2015, five more OK Labs joined the network.
        </p>
        <p>
          The OK Labs are independent groups with their own communication channels like websites, etherpads, or Twitter accounts. The network and lab projects are presented on the codefor.de website. For details on groups and projects, it's worth taking a closer look at the websites and pads of individual groups. You can also stay informed by directly joining the mailing list of respective labs.
        </p>
      </div>
      <ul class="col-lg-12 list-inline">
        {% for lab in site.labs %}
          {% assign city =  lab.lab | remove: "OK Lab " %}
          <li>
            <a href="/en/{{ lab.key }}/">{{ city }}{% if lab.lab != lab.title %} ({{ lab.title }}){% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
    </div>
    -->
  </div>
</div>

<!-- Newsletter -->
{% include newsletter-form.html %}

{% include leaflet.html %}
