---
layout: base
title: "Overview of the OK labs"
lang: en
---

<!-- Lab Map -->
<div class="jumbotron fond__green map-container" style="padding:0px;">
  <div id="lab-map" class="lab-map-home"></div>
  {% include h4c-map-legend.html %}
</div>

<!-- About -->
<div class="beneath-sections jumbotron fond__blue animated">
  <div class="container text-center text__black">
    <div class="row">
      <div class="col-lg-12">
        <p>
        Code for Germany teams meet regularly in 13 cities. The teams are connected locally as well as <a href="http://codeforamerica.org/about/international/">globally</a>, get input und support from mentors, and work colaboratively on code and applications. Every lab consits of members and lab leads. The leads are oranizing the meetings, and are the contact persons to the rest of the network. As of January 2015 5 additiona labs joined Code for Germany and become part of the network.</p>
      </div>
      <ul class="col-lg-12 list-inline">
        {% for lab in site.labs %}
          {% assign city =  lab.lab | remove: "OK Lab " %}
          <li>
            <a href="/en/{{ lab.key }}/">{{ city }}{% if lab.lab != lab.title %} ({{ lab.title }}){% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
    </div>
    -->
  </div>
</div>

<!-- Newsletter -->
{% include newsletter-form.html %}

{% include leaflet.html %}
