---
layout: base
title: Digital Refugee Labs
og-description: Oneliner für Facebook
og-image: /img/drl-wallpaper-og-img.png
---

<div class="drl-page-wrap">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <div class="story-wrapper fond__green2">
          <div class="drl-body clearfix">
            <p>
              Vier Labs aus dem Code for Germany Netzwerk machen sich dieses Jahr das Thema Flucht und Asyl zum Schwerpunkt. Als ‘Digital Refugee Labs’ wollen wir interdisziplinäre Teams zusammenbringen, die digitale Hilfsmittel und kreative Ansätze nutzen, um Hilfsorganisationen bei ihrer täglichen Arbeit zu unterstützen. In den Labs werden Tech-Skills vermittelt und es wird an der Öffnung von relevanten Informationen und Daten aus der öffentlichen Verwaltung gearbeitet. Ziel ist es, die Zusammenarbeit zwischen technisch versierten Communitys, Ehrenamtlichen im Bereich der Flüchtlingshilfe, Geflüchteten sowie öffentlichen Verwaltungen zu verstetigen und auszubauen. Gefördert wird das Projekt von der Bundeszentrale für politische Bildung.
            </p>  
            <p>
              Als Projektauftakt findet in jeder der vier Städte ein Workshop statt, zu dem lokale Hilfsinitiativen und Netzwerke, sowie interessierte BürgerInnen, Geflüchtete als auch städtische VertreterInnen eingeladen werden. Die Workshops dienen dem gegenseitigen Kennenlernen und dem Identifizieren von Problemstellungen. Im Fokus der Arbeit der Labs steht nutzer- und problemorientiertes Vorgehen, sowie die Weiterentwicklung und die Bündelung von bereits existierenden Tech-Projekten. Die daraus entstehenden Arbeitsgruppen arbeiten in den darauffolgenden Monaten weiter an der Umsetzung und Implementierung der Konzepte und Lösungen.  
            </p> 
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div id="accordion" class="col-lg-10 col-lg-offset-1">  
        {% for drl in site.digitalrefugeelabs %}
        <div  class="drl-teaser-wrapper fond__mint">
          <div class="drl-teaser">
            <div class="drl-teaser-header clearfix">
              <a data-toggle="collapse" href="#collapse-{{ forloop.index0 }}" class="collapsed clearfix">
                <h2 class="drl-teaser-title">{{ drl.title }}</h2>
                <span class="drl-teaser-date">{{ drl.when }}</span>
              </a>
            </div>

            <div id="collapse-{{ forloop.index0 }}" class="collapse">
              <div class="drl-teaser-location clearfix">
                <div class="drl-teaser-space">{{ drl.where }}<br>{{ drl.time }}</div>
                <div class="drl-teaser-labs">
                  {% for lab in drl.labs %}
                  <a href="{{ lab.url }}">
                   {{ lab.name }}
                 </a>
                 {% endfor %}
               </div>
             </div>

             {{ drl.content }}

             {% if drl.ctaurl %}
             <a class="cta" href="{{ drl.ctaurl }}">Jetzt Mitmachen!</a>
             {% endif %}

           </div>

         </div>
       </div>
       {% endfor %}
     </div>
   </div>

   <div class="row">
    <div class="col-lg-10 col-lg-offset-1">

      <h2 class="section-heading">FAQ</h2>

      <div class="panel-group" id="accordion-faq">
        <div class="panel">
          <div>
            <h4>
              <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-1">
                > Warum Digital Refugee Labs?
              </a>
            </h4>
          </div>
          <div id="collapse-faq-1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>In den letzten Monaten wurde eine Vielzahl an Initiativen und Arbeitsgruppen ins Leben gerufen, die Geflüchtete und Organisationen bei der Erstaufnahme und beim Ankommen unterstützen und mit dem Nötigsten versorgen. Bei der Verbesserung der Koordination von Tätigkeiten, Helfenden und Hilfsmitteln haben diese Initiativen und Geflüchtete bereits Unterstützung aus der Tech-Community bekommen, beispielsweise im Rahmen der Refugee Hackathons, durch die Freifunk Initiative oder mit dem Volunteer Planner. Wir wollen sicherstellen, dass auch im Jahr 2016 die Stimmen von Geflüchteten mit den Erfahrungen von Hilfsorganisationen und den Ideen von technisch versierten Menchen zusammenfinden.<br>
              Um funktionierende Tools zu entwickeln und technisch zu unterstützen braucht es mehr als punktuelle Veranstaltungen. Es braucht Räume zum Austausch für Treffen und Trainings, sowie Formate, die möglichst viele Initiativen ansprechen. Diese Räume und Formate werden mit den Digital Refugee Labs geschaffen.</p>
              </div>
            </div>
          </div>
          <!-- <div class="panel">
            <div>
              <h4>
                <a class="highlight-red" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-2">
                  > Kein Techie</a>
                </h4>
              </div>
              <div id="collapse-faq-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Kein Techie? Kein Thema! Wir wollen schließlich nicht nur an Anwendungen basteln, wir wollen auch, dass sie genutzt werden und dass darüber gesprochen wird, um mehr Aufmerksamkeit für das Thema Open Data zu gewinnen. Dafür ist es wichtig, möglichst interdisziplinär aufgestellt zu sein. Kurz: Wir suchen auch Leute, die dabei helfen, die Projekte aufzubereiten, Geschichten rund um die Anwendungen zu erzählen, sie zu erklären und sich um Öffentlichkeitsarbeit, Presse und Community-Aufbau kümmern. Trifft auf Dich zu? Dann kontaktiere ein Lab in Deiner Nähe!</p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div >
                <h4>
                  <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-3">
                    > Politikerin oder Mitarbeiter in der Stadtverwaltung</a>
                  </h4>
                </div>
                <div id="collapse-faq-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Kontakt und aktiver Austausch zwischen lokaler Verwaltung und Politik und den OK Labs ist sehr wichtig für den Erfolg des Programms. Daher laden wir Politikerinnen und Mitarbeiter der lokalen Verwaltung ein, mit den OK Labs zusammenarbeiten. Gemeinsam können wir weitere Daten öffnen und die Rahmenbedingungen für offenes Regierungshandeln, Transparenz und Beteiligung verbessern. Interessierte Menschen aus Politik und Verwaltung können einfach mit einem Lab aus ihrer Stadt in Kontakt treten oder sich per <a href="mailto:info@codefor.de">E-Mail</a> bei uns melden, wir kümmern uns dann um die Vernetzung.</p>
                    </div>
                  </div>
                </div> -->
                <div class="panel">
                  <div >
                    <h4>
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-4">
                        > Wer steckt dahinter?</a>
                      </h4>
                    </div>
                    <div id="collapse-faq-4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Die Digital Refugee Labs sind Teil des Programms Code for Germany der Open Knowledge Foundation Deutschland. Code for Germany ist ein Netzwerk aus Ehrenamtlichen die ihre Fähigkeiten im Bereich Softwareentwicklung, Design, Stadtplanung, Kommunikation uvm. für ihre Städte und Nachbarschaft einsetzen. Vier der 25 OK Labs werden von Mai bis Oktober 2016 zu Digital Refugee Labs und widmen sich schwerpunktmäßig den Themen Flucht und Asyl. Das Projekt wird durch die Bundeszentrale für politische Bildung als Teil des Programms “Flucht und Asyl” gefördert.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div >
                        <h4>
                          <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-5">
                            > Wie kann ich mitmachen?</a>
                          </h4>
                        </div>
                        <div id="collapse-faq-5" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p>Die Labs werden in den Städten Berlin, Hamburg, Leipzig/Dresden und Karlsruhe im Zeitraum von Mai bis Oktober 2016 stattfinden. Als Startschuss wird in jeder Stadt ein Workshop mit Interessierten organisiert. Hilfsorganisationen, ProgrammiererInnen, und allgemein interessierte BürgerInnen können sich bald auf dieser Seite anmelden.</p>
                          </div>
                        </div>
                      </div>
                    </div>
              Noch offene Fragen? Dann kontaktiere uns gerne unter info[at]codefor.de
                  </div>
                </div>


              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-10 col-lg-offset-1 drl-footer">
                  <img class="drl-partner-logo" src="/img/bpb-logo.svg" alt="gefördert durch die Bundeszentrale für politische Bildung" >
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(document).ready(function () {

              });
            </script>