---
layout: base
title: Digital Refugee Labs
og-description: Digital Refugee Labs
og-image: /img/drl-wallpaper-og-img.png
---

<div class="drl-page-wrap">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <div class="story-wrapper fond__green2">
          <div class="drl-body clearfix">
            <p>
              Vier Labs aus dem Code for Germany Netzwerk machen sich dieses Jahr das Thema Flucht und Asyl zum Schwerpunkt. Als ‘Digital Refugee Labs’ wollen wir interdisziplinäre Teams zusammenbringen, die digitale Hilfsmittel und kreative Ansätze nutzen, um Hilfsorganisationen, Institutionen und Initiativen bei ihrer täglichen Arbeit zu unterstützen. In den Labs werden Tech-Skills vermittelt und Tools angewandt, welche die Arbeit der Initiativen erleichtern, und vorhandene Tech-Projekte weiterentwickelt. Ziel ist es, die Zusammenarbeit zwischen technisch versierten Communitys, Ehrenamtlichen im Bereich der Flüchtlingshilfe, Geflüchteten sowie öffentlichen Verwaltungen zu verstetigen und auszubauen. Gefördert wird das Projekt von der Bundeszentrale für politische Bildung.
            </p>  
            <p>
              Als Projektauftakt findet in jeder der vier Städte ein Workshop statt, zu dem lokale Hilfsinitiativen und Netzwerke, Geflüchtete und Menschen mit entsprechenden Fähigkeiten im Bereich Design, Web und Programmierung eingeladen werden. Die Workshops dienen dem gegenseitigen Kennenlernen, dem Identifizieren von Problemstellungen und dem Entwickeln von Prototypen. Im Fokus der Arbeit der Labs steht nutzer- und problemorientiertes Vorgehen, sowie die Weiterentwicklung und die Bündelung von bereits existierenden Tech-Projekten. Die daraus entstehenden Arbeitsgruppen arbeiten in den darauffolgenden Monaten weiter an der Umsetzung und Implementierung der Konzepte und Lösungen.  
            </p> 
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div id="accordion" class="col-lg-10 col-lg-offset-1">  
        {% for drl in site.digitalrefugeelabs %}
        <div  class="drl-teaser-wrapper fond__mint">
          <div class="drl-teaser">
            <div class="drl-teaser-header clearfix">
              <a data-toggle="collapse" href="#collapse-{{ forloop.index0 }}" class="collapsed">
                <div class="clearfix">
                  <h2 class="drl-teaser-title">{{ drl.title }}</h2>
                  <span class="drl-teaser-date">{{ drl.when }}</span>
                </div>
              </a>
            </div>

            <div id="collapse-{{ forloop.index0 }}" class="collapse">
              <div class="drl-teaser-location clearfix">
                <div class="drl-teaser-space">{{ drl.where }}<br>{{ drl.time }}</div>
                <div class="drl-teaser-labs">
                  {% for lab in drl.labs %}
                  <a href="{{ lab.url }}">
                   {{ lab.name }}
                 </a>
                 {% endfor %}
               </div>
             </div>

             {{ drl.content }}

             {% if drl.ctaurl %}
             <a class="cta" href="{{ drl.ctaurl }}">Jetzt Mitmachen!</a>
             {% endif %}

           </div>

         </div>
       </div>
       {% endfor %}
     </div>
   </div>

   <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text__black">

      <h2 class="section-heading">FAQ</h2>

      <div class="panel-group" id="accordion-faq">
        <div class="panel">
          <div>
            <h4>
              <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-1">
                > Warum Digital Refugee Labs?
              </a>
            </h4>
          </div>
          <div id="collapse-faq-1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>In den letzten Monaten wurde eine Vielzahl an Initiativen und Arbeitsgruppen ins Leben gerufen, die Geflüchtete und Organisationen bei der Erstaufnahme und beim Ankommen unterstützen und mit dem Nötigsten versorgen. Bei der Verbesserung der Koordination von Tätigkeiten, Helfenden und Hilfsmitteln haben diese Initiativen und Geflüchtete bereits Unterstützung aus der Tech-Community bekommen, beispielsweise im Rahmen der <a href="http://refugeehackathon.de/">Refugee Hackathons</a>, durch die <a href="https://it4refugees.noblogs.org">Freifunk Initiative</a> oder mit dem <a href="https://volunteer-planner.org">Volunteer Planner</a>. Wir wollen sicherstellen, dass auch im Jahr 2016 die Stimmen von Geflüchteten mit den Erfahrungen von Hilfsorganisationen und den Ideen von technisch versierten Menschen zusammenfinden.<br>
              Um funktionierende Tools zu entwickeln und technisch zu unterstützen braucht es mehr als punktuelle Veranstaltungen. Es braucht Räume zum Austausch für Treffen und Trainings, sowie Formate, die möglichst viele Initiativen ansprechen. Diese Räume und Formate werden mit den Digital Refugee Labs geschaffen.</p>
              </div>
            </div>
          </div>
        <div class="panel">
          <div>
            <h4>
              <a class="highlight-red" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-2">
                > Was wollt ihr damit erreichen?</a>
            </h4>
          </div>
          <div id="collapse-faq-2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Wir wollen Technologien dort einsetzen wo sie gebraucht werden. Es geht bei den Digital Refugee Labs vor Allem darum, vorhandene Initiativen zu stärken und weiterzuentwickeln. Websites wie <a href="http://metacollect.org">metacollect</a> zeigen auf, wieviele spannende Projekte in diesem Bereich bereits existieren und Hilfe benötigen. Wir wollen einerseits diese Projekte unterstützen und unsere Kräfte bündeln, und andererseits Hilfsorganisationen bei ihrer täglichen Arbeit technisch betreuen.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div >
            <h4>
              <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-3">
                > Was ist nicht Ziel der Initiative?</a>
            </h4>
          </div>
          <div id="collapse-faq-3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Digitale Anwendungen und Technologie sehen wir nicht als Allheilmittel. Für uns ist Software ein Werkzeug, das dabei helfen kann, bestimmte Aufgaben einfacher zu bewältigen. Es geht uns ausdrücklich nicht darum, eine neue umfangreiche App für Geflüchtete zu entwickeln – wir wollen Lösungen für ganz konkrete Problemstellungen entwickeln. Dabei ist uns Redeployment statt Redundanz ein wichtiges Anliegen. Im Zentrum unserer Arbeit stehen daher die Bedürfnisse der NutzerInnen: Nützlichkeit ist uns wichtiger als Neuheit. Wir wollen Räume für Austausch und Zusammenarbeit schaffen, in denen sich Menschen aus unterschiedlichen Bereichen zusammen finden und gemeinsam arbeiten können.<br>
              Wir können nicht für alle sozialen Probleme technische Lösungen finden, aber wir können die Arbeit von denen, die sich den Herausforderungen widmen, unterstützen und vereinfachen.</p>
              </div>
            </div>
            </div>
        <div class="panel">
          <div >
            <h4>
              <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-4">
                > Wer steckt dahinter?</a>
            </h4>
          </div>
          <div id="collapse-faq-4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Die Digital Refugee Labs sind Teil des Programms Code for Germany der <a href="http://okfn.de">Open Knowledge Foundation Deutschland</a>. Code for Germany ist ein Netzwerk aus Ehrenamtlichen die ihre Fähigkeiten im Bereich Softwareentwicklung, Design, Stadtplanung, Kommunikation uvm. für ihre Städte und Nachbarschaft einsetzen. Vier der 25 OK Labs werden von Mai bis Oktober 2016 zu Digital Refugee Labs und widmen sich schwerpunktmäßig den Themen Flucht und Asyl. Das Projekt wird durch die Bundeszentrale für politische Bildung als Teil des Programms “Flucht und Asyl” gefördert.<br>
              Darüber hinaus werden wir bei der konzeptionellen Ausarbeitung und Moderation der Workshops von der Innovationsagentur <a href="http://zero360innovation.com">Zero360</a> unterstützt.</p>
              </div>
            </div>
          </div>
        <div class="panel">
          <div >
            <h4>
              <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-faq-5">
                > Wie kann ich mitmachen?</a>
            </h4>
          </div>
          <div id="collapse-faq-5" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Die Labs werden in den Städten Berlin, Hamburg, Leipzig/Dresden und Karlsruhe im Zeitraum von Mai bis Oktober 2016 stattfinden. Als Startschuss wird in jeder Stadt ein Workshop mit Interessierten organisiert. Hilfsorganisationen, ProgrammiererInnen, und allgemein interessierte BürgerInnen können sich auf dieser Seite anmelden.</p>
            </div>
          </div>
        </div>
      </div>
      <p>Noch offene Fragen? Dann kontaktiere uns gerne unter info[at]codefor.de</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 drl-footer partner">
      <img class="drl-partner-logo img-responsive" src="/img/bpb-logo.svg" alt="gefördert durch die Bundeszentrale für politische Bildung" >
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

  });
</script>
