---
layout: base
title: Open Data Day
og-description: Open Data Day
og-image: img/odd.png
---


<div class="drl-page-wrap odd-override">
   
    <div class="container">

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">  
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">  
          <div class="story-wrapper">
            <div class="drl-body clearfix">

              <h3>Am 04. März ist es wieder so weit: Die weltweite Community lädt zum Open Data Day ein</h3>
              <p>
               In über einhundert Städten werden Workshops, Hackathons und Events rund um Offene Daten von der Community organisiert und alle Interessierten sind herzlich eingeladen. Auch die Open Knowledge Labs organisieren Workshops und Hackdays in 19 Städten, eine Liste aller Events findet ihr <a href="http://de.opendataday.org"><b>hier</b></a>. Die Projekte die zum Open Data Day entstehen, werden auf dieser Seite zentral gesammelt. 
             </p>  
           </div>
         </div>
       </div>
     </div>


   {% for sitepage in site.pages %}
     {% if sitepage.type == 'ODD' and sitepage.layout == 'project' %}
      {% assign ODDprojectsExist = true %}
     {% endif %}
   {% endfor %}

   {% if ODDprojectsExist == true %}
   <!-- Projekte -->
   <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text__black">
      <h2 class="section-heading">Teilnehmende Projekte</h2>
      <div class="loading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <div>...laden...</div>
      </div>
      <div class="packery-container">
        <div class="packery-item-gutter"></div>
        {% for sitepage in site.pages %}
        {% if sitepage.type == 'ODD' and sitepage.layout == 'project' %}
        <div class="packery-item" >
          {% include project-teaser.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Projekte End -->
  {% endif %}

</div>
</div>


            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-lg-offset-1 drl-footer partner">
                  <img class="drl-partner-logo img-responsive" src="/img/okfn.svg" alt="Open Knowledge Foundation Deutschland e.V." >
                </div>
              </div>
            </div>

<script src="/js/lib/packery.pkgd.min.js"></script>
<script src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script src="/js/PackeryGrid.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    packery = new PackeryGrid('.packery-container','.packery-item', '.packery-item-gutter');
  });
</script>
