---
layout: default
footerlogos: yes

---

<!-- Hero -->
<div class="jumbotron fond__grey">
  <div class="container">
    <div class="row">
      <div id="animation-wrapper" class="col-lg-11 col-lg-offset-1">
        <h1 class="cta text__blue animated-claim">Stadt<span class="text__red">&lt;</span>entwickler <span class="text__red">/&gt;</span>*
        <br />nutzen offene Daten um ihre Stadt zu verbessern<span class="marker"></span></h1>
        <h5 class="highlight highlight-hero cta-sub">
        <span class="highlight-red"> Code a difference: Nutz' Deine Fähigkeiten um Deine Stadt zu verbessern!</span>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Lab Map -->
<div class="jumbotron fond__green map-container" style="padding:0px;">
      <div id="lab-map" class="lab-map-home"></div>
      {% include h4c-map-legend.html %}
</div>

<!-- About -->
<div class="beneath-sections jumbotron fond__blue animated">
  <div class="container text-center text__black">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>Jede Woche treffen sich in ganz Deutschland Teams zu ihren Projekten für Code for Germany. Sie arbeiten gemeinsam an nützlichen Anwendungen und Visualisierungen rund um offene Daten und digitale Werkzeuge für Bürgerinnen. Diese lokalen Gruppen und ihr Treffen nennen wir Labs.</p>
        <p>Die Labs bestehen aus Interessierten zu Open Data. Dazu gehören auch Programmiererinnen und Designern. Sie erproben, wie Daten und Software dabei helfen können die Städte und Nachbarschaften zu verbessern. Dazu wird Code für Dienste geschrieben und bestehende Daten so aufbereitet, dass sie für alle genutzt werden können.</p>
        <p>Wo gerade welche Anwendungen bei welchen Projekten entstehen, wann das nächste Treffen stattfindet und wie Du dort mitmachen kannst, erfährst Du nach einen Klick auf das Lab der jeweilige Stadt.</p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
    </div>
    -->
  </div>
</div>


<!-- Newsletter -->
{% include newsletter-form.html %}

<script src="js/lib/jquery.cookie.js"></script>
<script src="js/lib/prettyCheckbox.min.js"></script>
<script src="js/Application.js"></script>

{% include leaflet.html %}

<script type="text/javascript">
$(document).ready(function() {
  app = new Application();
  app.init();
  $(":checkbox").prettyCheckbox();
});
</script>
