
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ____        _       __                     __  __      _                     
   / __ \____ _(_)___  / /_  ____ _      __   / / / /___  (_)________  _________ 
  / /_/ / __ `/ / __ \/ __ \/ __ \ | /| / /  / / / / __ \/ / ___/ __ \/ ___/ __ \
 / _, _/ /_/ / / / / / /_/ / /_/ / |/ |/ /  / /_/ / / / / / /__/ /_/ / /  / / / /
/_/ |_|\__,_/_/_/ /_/_.___/\____/|__/|__/   \____/_/ /_/_/\___/\____/_/  /_/ /_/ 
                                                                                 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


$red: #FF5449;
$blue: #00ABFA;
$green: #22D790;
$grey-bright: #F2F2F2;
$grey-mid: #E7E7E7;
$grey-dark: #999999;
$black: #000000;
$white: #FFFFFF;

.fond__red { background-color: $red;}
.fond__blue { background-color: $blue;}
.fond__green { background-color: $green;}
.fond__grey { background-color: $grey-bright;}
.fond__grey-mid { background-color: $grey-mid;}
.fond__white { background-color: $white;}

.text__red { color: $red;}
.text__blue { color: $blue;}
.text__green { color: $green;}
.text__grey-dark { color: $grey-dark;}
.text__grey-mid { color: $grey-mid;}
.text__grey-bright { color: $grey-bright;}

.text__black { color: $black;}
.text__white { color: $white;}

body {
	@extend .fond__grey;
}

.navbar {
	@extend .fond__white; 
	padding: 20px 0;
}

.nav > li > a {
	padding: 0;
}

.nav-pills {
	li {
		a { border-radius: 0 ;}
		a:hover { background-color: transparent;}
	}
}


/*===============================
=            Helpers            =
===============================*/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin inline-background($color) {
	-webkit-box-shadow: 10px 0 0 $color, -10px 0 0 $color;
	-moz-box-shadow: 10px 0 0 $color, -10px 0 0 $color;
	box-shadow: 10px 0 0 $color, -10px 0 0 $color;
	display: inline; 
}



/*-----  End of Helpers  ------*/




/*==================================
=            Typography            =
==================================*/

$body-font-size: 18px; 

body {
	font-size: $body-font-size;
	line-height: 1.6em;
	
	font-family:"Apercu Mono Pro Regular", 'Andale Mono', sans-serif; 
	font-weight:normal; 
	font-style:normal; 
}

div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
	font-family:"Apercu Mono Pro Regular", 'Andale Mono', sans-serif; 
	font-weight:normal; 
	font-style:normal; 
}


h1, .h1,.jumbotron h1,  h2, .h2, h3, .h3 {
	margin: 24px 0;
	text-transform: uppercase;
	font-size: 24px;

}

h4, .h4 {
	text-transform: uppercase;
	margin: 28px 0;
	line-height: 28px;
}

a, a:hover, a:visited, a:active {
	@extend .text__black;
}

.fond__green a {
	@extend .text__white;
	text-decoration: underline;
}

.fond__blue {
	p a, li a {
	@extend .text__black;
	text-decoration: underline;
	}
}

.fond__white p a {
	text-decoration: underline;
}


.fond__green .lab-links a {
	@extend .fond__white;	
	@extend .text__red;
	@include inline-background($white);
	text-decoration: none;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
	a {
		text-decoration: none;
	}
}


label {
	font-weight: normal;
}


#animation-wrapper h1 {
	@extend .text__blue; 
	line-height: 1.4em ; 
	margin-top: 0;
	letter-spacing: -0.05em;
	text-transform: inherit;
	font-size: 26px;

}

.jumbotron {
	font-size: 18px;
	margin-bottom: 0;

	p {
		margin: 28px 0;
		line-height: 1.6em;
	}
}



.highlight {
	font-size: $body-font-size;
	line-height: 1.6em !important; 
	text-transform: uppercase;
}


.highlight-red {
	@extend .fond__red;	
	@extend .text__white;
	@include inline-background($red);
}

.highlight-white {
	@extend .fond__white;	
	@extend .text__red;
	@include inline-background($white);
}

.form-control, .btn {
	font-size: $body-font-size;
	line-height: 1.6em;
}

.faq .row div {
	p {
		font-size: 16px;
	}
}

.meta-links-foot {
	text-transform: uppercase;
	a, a:hover, a:visited, a:active {
		color: $black;
		text-decoration: none;
	};
}

.foot-note {
	color: $grey-dark;
	font-size: 16px;
}

/*-----  End of Typography  ------*/


/*================================
=  Elements & Modifiers          =
================================*/
.jumbotron {
	padding: 15px;
}

.btn {
	border-radius: 0;
	border: 0;
}

.btn:hover {
	color: $white;
}

.btn-mitmachen {
	background-color: $red ;
	color: $white;
	width: 100%;
}

/* Pretty Checkboxes */
.prettyCheckbox {
	background: #efefef;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 10px;

	@include border-radius(20px);
}

.prettyCheckbox.checked { position: relative; }

.prettyCheckbox.checked .check {

	background: $black;
	@include border-radius(10px);
	display: inline-block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 100;

}

/*============================
=   Home
============================*/


.init-hidden {
	visibility: hidden; 
}


.navbar {
	background-image: none; 
	border-radius: 0; 
	-webkit-box-shadow: none; 
	box-shadow: none;
	margin-bottom: 0;
}

.nav-social {
	margin-bottom: 20px;

	li {
		display: inline-block;
		margin-right: 5px;
		&:last-child { margin-right: 0 ;}
		a {
			background: $red;
			color: $white;
			height: 48px;
			width: 48px;
			line-height: 48px;
		}
	} 
	display: none;
}

.nav-social > li > a:hover {
	background: $red;
	color: $white;
}

.main-nav-wrapper {
	
	margin: 20px 0;
	.nav-pills li {	
		border: 2px solid transparent;
		a {
			padding: 0 10px;
			color: $red;
		}
	}

	.nav-pills .current {	
		border: 2px solid $red;
	}
}


.marker {
	background-color: $white;
	color: $white;
}


.form-control {

	height: 40px;
	padding: 6px 12px;
	color: $black;
	border: none; 
	border-radius: 0;

}


.form-group .prettyCheckbox{
	margin-left: 10px;
}

.form-group-newsletter {
	div {
		padding: 0;
	}
}


.cfg-cities li {
	margin-right: 20px;
	margin-bottom: 10px;
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}
}

.cfg-cities-sub {
	font-size: 14px; 
	margin: 0 0 32px 0 !important;
}


.faq .panel, .panel-group .panel {
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

	h4 {
		margin-top: 0;
		a , a:hover, a:active , a:visited {
			@extend .highlight-red ;
			margin-left: 10px;
			text-decoration: none; 
		}
	}

	p {
		margin-top: 0;
	}
}

.panel-body {
	padding: 0;
}

.event-wrapper, .project-wrapper  {
	font-size: 16px;
	line-height: 26px;
	text-align: left; 
	padding: 30px;
	margin: 30px 0 0 0;

	h4 { 
		margin: 7px 0 16px 0;
	}
}

.project-wrapper {
	margin: 0 0 32px 0;
}

.project-status {
	&:before {
		font-family: 'FontAwesome';
		content: "\f135";
		font-size: 19px;
		color: black;
		margin-right: 10px;
	} 
}


.project-links {
		&:before {
		font-family: 'FontAwesome';
		content: "\f14c";
		font-size: 19px;
		color: black;
		margin-right: 10px;
	} 
}


.icon-before:before {
	display: inline-block;
	content:"";
	margin-right: 10px;
}

.event-time {
	&:before {
		background-image: url('../img/time.svg');
		height: 20px;
		width: 18px;
	}
}

.event-location {
	&:before {
		background-image: url('../img/place.svg');	
		height: 21px;
		width: 17px;
	}
}

.event-cta {
	display: inline-block;
	padding: 0 10px; 
	a, a:hover, a:visited, a:active {
		color: $white;
		text-decoration: none;
	};
}


.event-date-cta-wrapper {
	text-align: center;
	@extend .text__red;
	margin: 15px 0 0 0;
}

$date-circle: 80px;

.event-date-d {
	text-transform: uppercase;
	font-size: 36px;
	padding-top: 26px;
	margin: 0 auto;
	display: inline-block;
	width: $date-circle;
	height: $date-circle;
	border: 2px solid $red;

	@include border-radius($date-circle);
}

.event-cta {
	@extend .fond__red;
	@extend .text__white;
}

.event-lab, .event-time, .event-location, .event-date-d {
	display: block;
}


.partner img {
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}

.okfn-logo {
	max-width: 80%;
}

.cfa-logo {
	max-width: 80%;
}

.google-logo {
	max-width: 80%;
}

/*-----  End of Home  ------*/


/*================================
=            Lab Page            =
================================*/
.jumbotron h1 {
	@extend .text__red;
}

.lab-leads {
	li {
		padding: 0;
	}
}


.packery-item-gutter{
	width: 5%;
}

.packery-item{
	width: 100%;
}

.project-image {
	margin-bottom: 28px;
}

.project-link-list, .post-links, .project-links {

	margin-bottom: 26px;
}



.project-collaborators {
	&:before {
		background-image: url('../img/collaborators.svg');
		height: 23px;
		width: 21px;
	}
}

.project-collaborators-list {
	margin-top: 18px;
}

.members {
	line-height: 26px;
	font-size: 16px;

	.member {
		margin-bottom: 26px;
		min-width: 100%;
		display: block; 
		float: left;
	}

	.member-avatar {
		margin-right: 20px;
		width: 80px;
		height: 80px;
	}
}




/*-----  End of Lab Page  ------*/




/*===============================
=            Projects           =
===============================*/


.project-teaser-slim .image-crop {
		
		position: relative;
		height: 245px;
		overflow: hidden;

		.project-image {
	
		position:absolute;
	    left: -100%;
	    right: -100%;
	    top: -100%;
	    bottom: -100%;
	    margin: auto; 
	    height: auto;
	    width: 100%;

		}

	}
	


.loading {
	text-align: center;
	i {
		display: block;
		font-size: 72px;
	}
}



/*-----  End of Projects  ------*/


/*============================
=            Blog            =
============================*/

.blog-post-teaser {
	
	&:first-child {
		margin-top: 0;
	}

	h2 {
		width: 60%;
	}

	img {
		max-width: 80%;
		margin: 30px auto;

	}
}

.blog-sidebar {

	img {
		margin: 26px 0;
	}

	.blog-sidebar-nl-signup h3, .blog-sidebar-nl-signup p  {
		text-align: left;
	}

	.rss-feed {
		i {
			font-size: 26px;
		}

		h3 {
			display: inline-block;
		}
	}
}


.blog-page-nav {
	
	margin-top: 26px;

	.newer { 
		float: left;
	}

	.older { 
		float: right;
	}
}


.post {
	.event-wrapper {
		padding: 80px;
	}

	h2, h3 {
		font-size: 18px;
	}
}

.post-links {
	margin: 26px 0 0 0 ;
	a {
		text-decoration: underline;
	}
}

.post-title {
	float: left;
	margin-top: 0;
}

.post-meta {

	float:right;
	text-align: right; 
	font-size: 14px;
	line-height: 16px;
	color: gray;
	width: 40%;

	a {
		color: gray;
	}


}




.post-description {
	p:last-child {
		margin-bottom: 0;
	}
}

.post-description {
	
	img {
	margin: 30px auto;
	max-width: 70%;
	height: auto;
	display: block;
	}
}

.post-img-caption {
	display: block;
	text-align: center;
	margin-top: -30px;
	color: gray;
	margin-bottom: 10px;
}

.post-page-nav {
	text-align: center !important;
	margin-top: 26px;
	
	a:hover {
		text-decoration: none;
	}
}




.twitter-feed {
	.twitter-head {

		h3 {
			float:left;
			margin-bottom: 0;
		}

		.follow-twitter {
			float: right;
			margin-top: 24px;
		}
	}

	.event-wrapper {
		margin-top: 18px;
	}
}



/*-----  End of Blog  ------*/


/*================================
=  Google Map                   =
================================*/

#lab-map{
	width: 100%;
}

.lab-map-home{
	height: 300px;
}

.lab-map-city{
	height: 200px;
}

.googleMapsInfoBox{
	font: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	font-size: 16px;
	color: $red;
	background-color: $white;
}



@media screen and (min-width: 481px) {
	#animation-wrapper h1 {
		font-size: 63px;
	}

	.okfn-logo {
		max-width: 50%;
	}

	.cfa-logo {
		max-width: 50%;
	}

	.google-logo {
		max-width: 50%;
	}

	.event-description {
		float: left;
		max-width: 75%;
	}

	.event-date-cta-wrapper {
		float: right;
		margin: 0;
		max-width: 25%;
	}

}

@media screen and (min-width: 768px) {

	.navbar .container {
		max-width: 1320px;
	}

	.jumbotron {
		padding: 70px;
	}
	
	.meta-links-foot {
		padding: 35px ;
	}

	.navbar {
		padding: 70px 0;
	}

	.highlight-hero {
		margin-left: 10px;
	}

	.nav-social {
		display: inherit;
	}

	.main-nav-wrapper {
		float: right;
		margin: 0;
	}

	.logo {
		float: left;
	}

	.main-nav-wrapper .nav-pills
	{
		float: right;
	}

	.lab-map-home{
		height: 600px;
	}
	.lab-map-city{
		height: 400px;
	}

	.members .member {
		min-width: 50%;
	}

}

@media screen and (min-width: 1200px) {

	.okfn-logo {
		max-width: 100%;
	}

	.cfa-logo {
		max-width: 60%;
	}

	.google-logo {
		max-width: 80%;
	}

	.packery-item{
		width: 47.5%;
	}

	.members .member {
		min-width: 33%;
	}

}

.row.board
{
	margin-top: 10px;
	margin-bottom: 10px;
}




