<div class="event-wrapper fond__white clearfix">
    <div class="event-description">
      <span class="event-lab">{{ event.lab }}</span>
      <h4 class="event-title"><a href="{{ event.link-url }}">{{ event.name }}</a></h4>
      <span class="event-time icon-before">{{ event.time }}</span>
      <span class="event-location icon-before">{{ event.location }}</span>
    </div>
    <div class="event-date-cta-wrapper">
      <div class="event-date">
       {{ event.day }}
       <span class="event-date-d"> {{ event.day-nr }}</span>
       {{ event.month }}
     </div>
     <div class="event-cta">
        <a href="{{ event.link-url }}">Mehr Info</a>
    </div>
  </div>
</div>
