<script src="/js/GoogleMaps.js"></script>

<script>
    //the center of map on load
    var google_map_position = "51.1642292,10.4541194";
    //zoom level
    var google_map_zoom = 6;
    //the markers
    var google_maps_markers = [
    {% for lab in site.pages %}
     {% if lab.layout == 'lab' %}
        {
            "latlong": "{{ lab.lat }} , {{ lab.long }}",
            "url":"{{ lab.url }} ", // leave "" to disable marker clickevent
            "text": "{{ lab.lab }}",
            "markerposition": "{{ lab.markerposition }}"
        },
      {% endif %}
    {% endfor %}
    ];

    //the page on which the map is implemented
    var google_maps_page = 'home';

    $(document).ready(function() {
      gmap = new GoogleMaps(google_map_position, google_map_zoom, google_maps_markers, google_maps_page,'/img/lab_marker_home.png');
    });

</script>