<div class="h4c-map-legend-wrap">
	<img src="/img/lab_marker_home_h4c.png" alt="Der Hack your city colorierte Marker" height="35" width="21" />
	<a href="http://www.hackyourcity.de" target="_blank"><img src="/img/h4c-icon.svg" alt="Das Hack your city Logo" height="35" width="32" /></a>
	<span class="h4c-map-legend-text googleMapsInfoBox googleMapsInfoBox_home">
        {% if page.lang == 'en' %}
        Lab with a focus on citizen science
        {% else %}
        Lab mit Citizen Science Schwerpunkt
        {% endif%}
    </span>
</div>