<!-- Cfa -->
<div class="jumbotron fond__green text__white cta-news-wrapper">
  <div class="container">
    <div class="row text-center ">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Mitmachen</h3>
        <p>Mach mit und werde Teil von Code for Germany in dieser Stadt:</p>
      </div>
    </div>
   <div class="row">
      <div class="col-lg-12">
        <form action="http://okfn.us5.list-manage.com/subscribe/post?u=929f1e07936386d34833e20d1&amp;id=bb63fcab72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="text-center mc-form" target="_blank" role="form">
          <div class="row">
            <div class="col-lg-4">
              <div class="mc-field-group form-group">
                <label for="mce-NAME" class="sr-only" >Name</label>
                <input type="text" value="" name="NAME" class="form-control" id="mce-NAME" placeholder="Name" >
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mc-field-group form-group">
                <label for="mce-EMAIL" class="sr-only" >e-mail Addresse</label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="e-Mail Addresse" required >
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mc-field-group form-group">
                <label for="mce-ORT" class="sr-only" >Ort</label>
                <input type="text" value="{{ page.lab }}" name="ORT" class="form-control" id="mce-ORT" placeholder="Ort" disabled >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8 text-left">
              <div class="mc-field-group input-group form-group">
                <input type="checkbox" value="1" name="group[16985][1]" id="mce-group[16985]-16985-0">
                <label for="mce-group[16985]-16985-0" id="mce-group[16985]-16985-0" class="" >Ich kann nicht aktiv beitragen, will aber regelm&auml;ßige Updates.</label>
              </div>
            </div>
            <div class="col-lg-4">
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_929f1e07936386d34833e20d1_bb63fcab72" value=""></div>
              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-mitmachen pull-right">Mitmachen!</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
