<script>
$(document).ready(function() {
    // initiaize map, set position and zoom level
    var map = L.map('lab-map').setView([{{ page.lat }}, {{ page.long }}], 13);
    map.attributionControl.setPrefix("");

    // basemap 
    var mapboxLayer = L.tileLayer('https://{s}.tiles.mapbox.com/v4/codeforgermany.cc5365b0/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY29kZWZvcmdlcm1hbnkiLCJhIjoiMVg2ZGdSSSJ9.JsM4S0LZpeNmI1rHQnCxig', {
        attribution: '<a href="https://www.mapbox.com/about/maps/" target="_blank">&copy; Mapbox &copy; OpenStreetMap</a> | <a href="https://www.mapbox.com/map-feedback/ target="_blank">Improve this map</a>',
        minZoom: 5
        });

    // define custom marker style
    var cityMarker = L.Icon.Label.extend({
        options: {
            iconUrl: '/img/lab_marker.png',
            shadowUrl: null,
            iconSize: new L.Point(31, 51),
            iconAnchor: new L.Point(0, 0),
            labelAnchor: new L.Point(35, 10),
            wrapperAnchor: new L.Point(15, 51),
            labelClassName: 'city-marker'
        }
    });

    var marker = L.marker( [{{ page.lat }}, {{ page.long }}], { icon: 
        new cityMarker({ labelText:'{{ page.lab }}'}) })
    .addTo(map)

    // load basemaps
    mapboxLayer.addTo(map);
});
</script>