<ul class="list-inline lab-members members clearfix">
  {% for member in members %}
  <li class="member clearfix">
    {% if member.username-github %}
     {% capture image_url %}/img/avatars/{{ member.username-github }}.jpg{% endcapture %}
    {% else %}
      {% capture image_url %}/img/contributor_placeholder.svg{% endcapture %}
    {% endif %}
     <img src="{{ image_url }}" alt="{{ member.name }}" class="img-circle member-avatar pull-left">
     <div class="member-info ">
     {{ member.name }} <br>
     {% if member.username-github %}<a href="https://github.com/{{ member.username-github }}">github:{{ member.username-github }}</a><br> {% endif %}
     {% if member.username-twitter %}<a href="https://twitter.com/{{ member.username-twitter }}">@{{ member.username-twitter }}</a>{% endif %}
     </div>
  </li>
  {% endfor %}
</ul>