<h3>Tweets</h3>

<div class="event-wrapper fond__white clearfix">
	<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/codeforde"  data-widget-id="483287175757197313">Tweets by @codeforde</a>
 	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<h3>Termine</h3>

        {% for event in site.data.events limit:3 %}
            {% include event.html %}
	    {% endfor %}
<p><a href="/termine/index.html">weitere Termine... </a>

	<h3>Newsletter</h3>
signup form

</div>

