<div class="event-wrapper fond__white clearfix">
  <div class="post-header clearfix">
    <h2 class="post-title pull-left" ><a href="{{ [include.param]url }}">{{ [include.param]title }}</a></h2>
    <div class="post-meta text__green text-right pull-right">
    <h4 class="post-title"> {{ [include.param]author }} </h4>
          {{ [include.param]date | date_to_string }}
    </div>
  </div>
  <p class="post-description">{{ [include.param]content | remove: '<p>' | remove: '</p>' }}</p>
  
  <ul class="list-unstyled post-links" >
    {% for link in [include.param]links %}
    <li>
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>
  
  {% for image in [include.param]images %}<img src="/assets/blog/{{ image.imgname }}" alt="{{ image.alt }}" class="post-image">{% endfor %}

</div>