<div class="event-wrapper fond__white clearfix">
  <div class="post-header clearfix">
    <h1 class="post-title" ><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class="post-meta text__green">
      von {{ page.author }} am {{ page.date | date: "%d.%m.%y" }}      
    </div>
  </div>
  <div class="post-description">{{ page.content | markdownify }}</div>

  <ul class="list-unstyled post-links" >
    {% for link in page.links %}
    <li>
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>
  
</div>