<div class="event-wrapper fond__white clearfix">
  <div class="post-header clearfix">
    <h2 class="post-title pull-left" > {{ post.title }}</h2>
    <div class="post-meta text__green text-right pull-right">
    <h4 class="post-title"> {{ post.author }} </h4>
      {{ post.date | date_to_string }}
    </div>
  </div>
  <p class="post-description">{{ post.content | remove: '<p>' | remove: '</p>' }}</p>
  

  <ul class="list-unstyled post-links" >
    {% for link in post.links %}
    <li>
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>

  
  {% for image in post.images %}
    <img src="/assets/blog/{{ image.imgname }}" alt="{{ image.alt }}" class="post-image img-responsive">
  {% endfor %}

  </ul>
</div>