<div class="project-wrapper fond__white clearfix">

  {% if include.type == 'page' %}
  {% assign classCols = 'col-lg-6' %}
  {% assign classColLeft = 'col-lg-push-6' %}
  {% assign classColRight = 'col-lg-pull-6' %}
  {% endif%}

  <div class="row">
    <div class="{{ classCols }} {{ classColLeft }}">
      {% if [include.type]imgname %}
      <img src="/assets/projects/{{ [include.type]imgname }}" alt="Project Image" class="project-image img-responsive">
      {% endif %}
    </div>

    <div class="{{ classCols }} {{ classColRight }}">
      <h4 class="project-title"> {{ [include.type]title }} </h4>
      <div class="project-description">{{ [include.type]content | markdownify }}</div>

      <div class="project-footer clearfix">
        <div class="row">
          <div class="additional col-lg-6">

            {% for sitepage in site.pages %}
              {% if sitepage.lab == [include.type]lab %}
                {% if sitepage.layout == 'lab' %}
                  {% assign lab = sitepage.url %}
                {% endif %}
              {% endif %}
            {% endfor%}

            <div class="event-location  icon-before project-lab">
              <a href="{{ lab }}">{{ [include.type]lab }}</a>
            </div>
            <br>
            {% if [include.type]colaborators %}
            <span class="project-collaborators icon-before">Mitglieder</span>
            {% endif %}
            <ul class="list-unstyled project-collaborators-list" >
              {% for colaborator in [include.type]colaborators %}
              <li>
                {{ colaborator.name }} <br>
                {% for link in colaborator.links %}
                <a href="{{ link.url }}">{{ link.url-name }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="status col-lg-6">
            {% if [include.type]status %}
              {% assign status = [include.type]status %}
            {% else %}
              {% assign status = 'In Progress' %}
            {% endif %}
            <div class="project-status ">{{ status }}</div>

            {% if [include.type]links  %}
          <br>

          <div class="project-links links project-lab">
            Links
          </div>

          <ul class="list-unstyled project-link-list" >
            {% for link in [include.type]links %}
            <li>
              <a href="{{ link.url }}">{{ link.name }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif%}

        </div>
      </div>
    </div>
  </div>
</div>
</div>