<div class="event-wrapper fond__white clearfix">
  <img src="/assets/projects/{{ post.imgname }}" alt="Project Image" class="project-image img-responsive">
  <h4 class="project-title"> {{ post.title }}</h4>
  <p class="project-description">{{ post.content | remove: '<p>' | remove: '</p>' }}</p>
  <ul class="list-unstyled project-links" >
    {% for link in post.links %}
    <li>
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>
  
  {% if post.colaborators %}
      <span class="project-collaborators icon-before">Mitglieder</span>
  {% endif %}

  <ul class="list-unstyled project-collaborators-list" >
    {% for colaborator in post.colaborators %}
    <li>
      {{ colaborator.name }} <br> 

      {% for link in colaborator.links %}
      <a href="{{ link.url }}">{{ link.url-name }}</a>{% unless forloop.last %}, {% endunless %} 
      {% endfor %}

    </li>
    {% endfor %}

  </ul>
</div>