<div class="twitter-feed">

	<div class="clearfix twitter-head">
		<h3>Tweets</h3>
		<div class="follow-twitter" >
			<a href="https://twitter.com/codeforde" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" >Follow @twitterapi</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>

		<a class="twitter-timeline" data-chrome="noborders transparent nofooter noheader" data-dnt="true" href="https://twitter.com/codeforde"  data-widget-id="483287175757197313" >Tweets by @codeforde</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
