
.mobile-menu-toggle {
	display: none;
}

.nav-meta {
	text-align: right;
}


.nav-wrap {
  top: 60px;
  right: 60px;
  z-index: 1001;
  width: auto;
  height: auto;
  padding: 0;
}

.page-wrap {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu-open .page-wrap {
  transform: translateX(calc(-100% + #{$keep}));
}


.main-nav-wrapper {

	.nav-pills>li {
		a {
		}
	}

		.nav-pills .current {
		display: block;
	}

}


.nav-pills>li {
	float: right;
}
#animation-wrapper {
	background: transparent;
}

.packery-item {
	width: 47.5%;
}

.members .member {
	min-width: 33%;
}

/*===============================
=            Stories            =
===============================*/

.story--header--title {
	font-size: 36px;
}

.story-teaser--title {
	background: transparent !important;
}

.story {
	.members .member {
		min-width: 50%;
	}
}

/*-----  End of Stories  ------*/

