.main-nav-wrapper {
	float: right;
}

.main-nav-wrapper .nav-pills {
	float: right;
}

.packery-item {
	width: 47.5%;
}

.members .member {
	min-width: 33%;
}

/*===============================
=            Stories            =
===============================*/

.story--header--title {
	font-size: 36px;
}

/*-----  End of Stories  ------*/

