.mobile-menu-toggle {
  right: 60px;
  top: 60px;
}

.nav-wrap {
  right: -350px;
  width: 350px;
  padding: 60px;
}

.mobile-menu-open .page-wrap {
  transform: translateX( -350px );
}

.navbar {
  padding: 60px;
}

.nav-meta li {
	display: inline-block;
	width: inherit;
}

.partner {
	img {
		width: 50%;
	}
}

.google-logo {
	max-width: 50%;
}

.event-description {
	float: left;
	max-width: 75%;
}

.event-date-cta-wrapper {
	float: right;
	margin: 0;
	max-width: 25%;
}

.post-title {
	float: left;
	width: 60%;
}

.post-meta {
	float:right;
	width: 40%;
	text-align: right;
}

.project-teaser-slim .image-crop {
	height: 245px;
	overflow: hidden;

	.project-image {
		position:absolute;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto;
		height: auto;
	}
}

.project-labs-box {
  float: left;
  width: 60%;
  .m-r-2 { margin-right: 18px; }
  .icon-before:before { margin-right: 18; }
}

.project-status-box {
  margin-top: 0;
  float: right;
  width: 40%;
  text-align: right;
}

/*===============================
=            Stories            =
===============================*/

.story--header {
	//width: 60%;
	//padding-top: 11%;
}

.story--header--title {
}

.story-teaser--title {
    h2 {
    	font-size: 24px;
    }
}

/*-----  End of Stories  ------*/

