$red: #FF5449;
$blue: #00ABFA;
$green: #22D790;
$green2: #03A678;
$mint: #66CC99;
$cyan: #82E0D9;
$grey-bright: #F2F2F2;
$grey-mid: #E7E7E7;
$grey-dark: #999999;
$black: #000000;
$white: #FFFFFF;
$dark-red: #C53C3C;

$odd-purple: #47334e;
$odd-green: #9bc7a8;

.fond__red { background-color: $red;}
.fond__dark-red {background-color: $dark-red;}
.fond__blue { background-color: $blue;}
.fond__green { background-color: $green;}
.fond__green2 { background-color: $green2;}
.fond__mint { background-color: $mint;}
.fond__grey { background-color: $grey-bright;}
.fond__grey-mid { background-color: $grey-mid;}
.fond__white { background-color: $white;}

.text__red {
	color: $red;
	a, a:hover, a:visited, a:focus {
		color: $red;
	}
}

.text__blue {
	color: $blue;
	a, a:hover, a:visited, a:focus {
		color: $blue;
	}
}

.text__green {
	color: $green;
	a, a:hover, a:visited, a:focus {
		color: $green;
	}
}

.text__cyan {
	color: $cyan;
	a, a:hover, a:visited, a:focus {
		color: $cyan;
	}
}

.text__grey-dark {
	color: $grey-dark;
	a, a:hover, a:visited, a:focus {
		color: $grey-dark;
	}
}
.text__grey-mid {
	color: $grey-mid;
	a, a:hover, a:visited, a:focus {
		color: $grey-mid;
	}
}
.text__grey-bright {
	color: $grey-bright;
	a, a:hover, a:visited, a:focus {
		color: $grey-bright;
	}
}

.text__black { color: $black;}
.text__white { color: $white;}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@font-face {
	font-family: 'Junction';
	src: url('../fonts/junction-bold.eot');
	src: url('../fonts/junction-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/junction-bold.woff') format('woff'),
	url('../fonts/junction-bold.ttf') format('truetype'),
	url('../fonts/junction-bold.svg#junctionbold') format('svg');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Junction';
	src: url('../fonts/junction-light.eot');
	src: url('../fonts/junction-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/junction-light.woff') format('woff'),
	url('../fonts/junction-light.ttf') format('truetype'),
	url('../fonts/junction-light.svg#junctionlight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Junction';
	src: url('../fonts/junction-regular.eot');
	src: url('../fonts/junction-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/junction-regular.woff') format('woff'),
	url('../fonts/junction-regular.ttf') format('truetype'),
	url('../fonts/junction-regular.svg#junctionregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/leaguespartan-bold.eot');
	src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguespartan-bold.woff2') format('woff2'),
	url('../fonts/leaguespartan-bold.woff') format('woff'),
	url('../fonts/leaguespartan-bold.ttf') format('truetype'),
	url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
	font-weight: bold;
	font-style: normal;
}


/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic/webfonts/leaguegothic-italic-webfont.eot');
    src: url('../fonts/league-gothic/webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic/webfonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/league-gothic/webfonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league-gothic/webfonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league-gothic/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/apercu_regular_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Mono';
  src: url('../fonts/apercu_mono_pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



$leaguegothic: 'League Gothic',sans-serif;
$leaguespartan: 'League Spartan',sans-serif;
$apercu: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
$junction: 'Junction', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
$roboto: 'Roboto', sans-serif;

body {
	@extend .fond__grey;
}

.logo {

}

.navbar {
	@extend .fond__white;
}

.nav > li > a {
	padding: 0;
}

.nav-pills {
	li {
		a { border-radius: 0 ;}
		a:hover { background-color: transparent;}
	}
}


/*===============================
=            Helpers            =
===============================*/

@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin inline-background($color) {
	box-shadow: 10px 0 0 $color, -10px 0 0 $color;
	display: inline;
}

/*-----  End of Helpers  ------*/


/*==================================
=            Typography            =
==================================*/

$body-font-size: 18px;

body {
	font-size: $body-font-size;
	line-height: 1.6em;
	font-family: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	font-weight:normal;
	font-style:normal;
}

div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family:"Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	font-weight:normal;
	font-style:normal;
}

h1, .h1,.jumbotron h1,  h2, .h2, h3, .h3 {
	margin: 24px 0;
	text-transform: uppercase;
	font-size: 24px;
}

h4, .h4 {
	text-transform: uppercase;
	margin: 28px 0;
	line-height: 28px;
}

a, a:hover, a:visited, a:active {
	@extend .text__black;
}

.fond__green a {
	@extend .text__white;
	text-decoration: underline;
}

.fond__blue {
	p a, li a {
		@extend .text__black;
		text-decoration: underline;
	}
}

.fond__white p a {
	text-decoration: underline;
}

.fond__green .lab-links a {
	@extend .fond__white;
	@extend .text__red;
	@include inline-background($white);
	text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	a {
		text-decoration: none;
	}
}

label {
	font-weight: normal;
}

#animation-wrapper h1 {
	@extend .text__white;
	line-height: 1.4em;
	margin: 15px 0;
	letter-spacing: -0.05em;
	text-transform: inherit;
	font-size: 22px;

}

.jumbotron {
	font-size: 18px;
	margin-bottom: 0;

	p {
		margin: 28px 0;
		line-height: 1.6em;
	}
}

.highlight {
	font-size: $body-font-size;
	line-height: 1.6em !important;
	text-transform: uppercase;
}

.highlight-red {
	@extend .fond__red;
	@extend .text__white;
	@include inline-background($red);
}

.highlight-white {
	@extend .fond__white;
	@extend .text__red;
	@include inline-background($white);
}

.form-control, .btn {
	font-size: $body-font-size;
	line-height: 1.6em;
}

.faq .row div {
	p {
		font-size: 16px;
	}
}

.meta-links-foot {
	text-transform: uppercase;
	a, a:hover, a:visited, a:active {
		color: $black;
		text-decoration: none;
	};
}

.foot-note {
	color: $grey-dark;
	font-size: 16px;
}

.page-title {
	font-size: 63px;
	margin: 60px 0;
}

/*-----  End of Typography  ------*/


/*================================
=  Elements & Modifiers          =
================================*/
.jumbotron {
	padding: 15px;
}

.btn {
	border-radius: 0;
	border: 0;
}

.btn:hover {
	color: $white;
}

.btn-mitmachen {
	background-color: $red ;
	color: $white;
	width: 100%;
}

/* Pretty Checkboxes */
.prettyCheckbox {
	background: #efefef;
	border: 1px solid #ccc;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 10px;

	@include border-radius(20px);
}

.prettyCheckbox.checked { position: relative; }

.prettyCheckbox.checked .check {
	background: $black;
	@include border-radius(10px);
	display: inline-block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 100;
}


/*============================
=   Home
============================*/

.ptf-teaser {

  .ptf-hidden {
    visibility: hidden;
  }

  object {
    pointer-events: none;
  }

}


.init-hidden {
	visibility: hidden;
}


.mobile-menu-toggle {
	right: 15px;
  top: 30px;
}

.navbar {
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	padding: 30px;
}

.body-wrap {
  overflow: hidden;
  width: 100%;
  position: relative;
}

// burger itself + margin around
$keep: 44 + 2 * 15px;

.nav-wrap {
  position: absolute;
  top:0;
  right: calc(-100% + #{$keep});
  width: calc(100% - #{$keep});
  height: 100%;
  padding: 15px;
}

.page-wrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  position: relative;
}

.mobile-menu-open .page-wrap {
  -webkit-transform: translateX(calc(-100% + #{$keep}));
          transform: translateX(calc(-100% + #{$keep}));
}


.nav-meta li {
  display: inline-block;
	margin-right: 5px;
	margin-bottom: 20px;
	&:last-child { margin-right: 0 ;}
}

.nav-meta > li > a {
	height: 44px;
	line-height: 38px;
	color: $red;
	padding: 0 10px;
	border: 2px solid $red;
	white-space: nowrap;
}

.nav-meta > li > a:hover, .nav-meta > li > a:focus {
	color: $red;
	background: transparent;
}

.nav-meta > li.nav-meta-social {
	display: inline-block;
	width: inherit;
}

.nav-meta > li.nav-meta-social > a {
	background: $red;
	color: $white;
	width: 44px;
	padding: 0;
}

.nav-meta > li.nav-meta-social > a:hover {
	background: $red;
	color: $white;
}

.main-nav-wrapper {
	.nav-pills>li {
		border: 2px solid transparent;
		a {
			padding: 0 5px;
			color: $red;
		}
	}

	.nav-pills .current {
		border: 2px solid $red;
		display: inline-block;
	}
}

.nav-pills>li {
	float:none;
}

.marker {
	background-color: $white;
	color: $white;
}

.hero-container {
	position: relative;
	a {
		text-decoration: none;
	}

}

#animation-wrapper,
.hero-overlay {

	background: $blue;
	padding: 5% 0;
	top: 0; left: 0; right: 0;
	margin: 0 auto;
	width: 100%;

}

.hero-overlay {
	//background: $green2;
	background: transparent;

	text-align: center;

	h1 {
		font-family: $leaguespartan;
		letter-spacing: 0.05em;

	}

}


/* Newsletter Signup */

.form-control {
	height: 40px;
	padding: 6px 12px;
	color: $black;
	border: none;
	border-radius: 0;

}

.form-group .prettyCheckbox {
	margin-left: 10px;
}

.form-group-newsletter {
	div {
		padding: 0;
	}
}

/* Newsletter Signup END */


.cfg-cities li {
	margin-right: 20px;
	margin-bottom: 10px;
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}
}

.cfg-cities-sub {
	font-size: 14px;
	margin: 0 0 32px 0 !important;
}

.faq .panel, .panel-group .panel {
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;

	h4 {
		margin-top: 0;
		a , a:hover, a:active , a:visited {
			@extend .highlight-red ;
			margin-left: 10px;
			text-decoration: none;
		}
	}

	p {
		margin-top: 0;
	}
}

.panel-body {
	padding: 0;
}

.event-wrapper, .project-wrapper {
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	padding: 30px;
	margin: 30px 0 0 0;

	h4 {
		margin: 7px 0 16px 0;
	}
}

.project-wrapper {
	margin: 0 0 32px 0;
}

.project-status {
	&:before {
		font-family: 'FontAwesome';
		content: "\f135";
		font-size: 19px;
		color: black;
		margin-right: 10px;
	}
}

.project-links {
	&:before {
		font-family: 'FontAwesome';
		content: "\f14c";
		font-size: 19px;
		color: black;
	}
}

.project-footer {
	.m-r-2 { margin-right: 18px; }
}

.icon-before:before {
	display: inline-block;
	content:"";
	margin-right: 10px;
}

.event-time {
	&:before {
		background-image: url('../img/time.svg');
		height: 20px;
		width: 18px;
	}
}

.event-location {
	&:before {
		background-image: url('../img/place.svg');
		height: 21px;
		width: 17px;
	}
}

.event-cta {
	display: inline-block;
	padding: 0 10px;
	a, a:hover, a:visited, a:active {
		color: $white;
		text-decoration: none;
	};
}

.event-date-cta-wrapper {
	text-align: center;
	@extend .text__red;
	margin: 15px 0 0 0;
}

$date-circle: 80px;

.event-date-d {
	text-transform: uppercase;
	font-size: 36px;
	padding-top: 26px;
	margin: 0 auto;
	display: inline-block;
	width: $date-circle;
	height: $date-circle;
	border: 2px solid $red;

	@include border-radius($date-circle);
}

.event-cta {
	@extend .fond__red;
	@extend .text__white;
}

.event-lab, .event-time, .event-location, .event-date-d {
	display: block;
}

.partner {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		padding: 28px 0;

	}

	img {
		height: auto;
		margin: 0 auto;
		margin-bottom: 50px;
		width: inherit;
		width: 80%;
	}
}

/*-----  End of Home  ------*/


/*================================
=            Lab Page            =
================================*/
.jumbotron h1 {
	@extend .text__red;
}

.h4c-teaser {
	max-width: 30%;
	height: auto;
	display: block;
	float: left;
	margin: 5px 20px 10px 0;

}

.lab-leads {
	li {
		padding: 0;
	}
}

.packery-container {
	visibility: hidden;
}

.packery-item-gutter {
	width: 5%;
}

.packery-item{
	width: 100%;
}

.project-image {
	margin-bottom: 28px;
}

.project-link-list, .post-links, .project-links {
	margin-bottom: 26px;
}

.project-collaborators {
	&:before {
		background-image: url('../img/collaborators.svg');
		height: 23px;
		width: 21px;
	}
}

.project-collaborators-list {
	margin-top: 18px;
}

.members {
	line-height: 26px;
	font-size: 16px;

	.member {
		margin-bottom: 26px;
		min-width: 100%;
		display: block;
		float: left;
	}

	.member-avatar {
		margin-right: 20px;
		width: 80px;
		height: 80px;
	}
}

/*-----  End of Lab Page  ------*/


/*===============================
=            Projects           =
===============================*/


.project-teaser-slim .image-crop {
	position: relative;

	.project-image {
		width: 100%;
	}
}

.project-description {
	p {
		margin: 0 0 10px 0;
		&:last-child {
			margin-bottom: 26px;
		}
	}
}

.project-labs-box {
	float: none;
	width: 100%;
	.icon-before:before { margin-right: 0; }
	.m-r-2 { margin-right: 0; }
}

.project-status-box {
	margin-top: 8px;
	float: none;
	width: 100%;
	text-align: left;
}

.loading {
	text-align: center;
	i {
		display: block;
		font-size: 72px;
	}
}

/*-----  End of Projects  ------*/


/*============================
=            Blog            =
============================*/

.blog-header {
	&:after {
		content: 'A';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: white;
	}
}

.blog-post-teaser {
	&:first-child {
		margin-top: 0;
	}

	img {
		max-width: 80%;
		margin: 30px auto;
	}

	a {
		text-decoration: none !important;
	}

	overflow: hidden;
}

.blog-sidebar {
	img {
		margin: 26px 0;
	}

	.blog-sidebar-nl-signup h3, .blog-sidebar-nl-signup p  {
		text-align: left;
	}

	.rss-feed {
		i {
			font-size: 26px;
		}

		h3 {
			display: inline-block;
		}
	}
}

.blog-page-nav {
	margin-top: 26px;

	.newer {
		float: left;
	}

	.older {
		float: right;
	}
}

#infscr-loading {
	padding: 15px 0;
	text-align: center;
	img {
		display:none;
	}
}

.post {
	.event-wrapper {
		&:first-child {
			margin-top: 0;
		}
	}

	h2, h3 {
		font-size: 18px;
	}
}

.post-links {
	margin: 26px 0 0 0 ;
	a {
		text-decoration: underline;
	}
}

.post-title {
	margin-top: 0;
}

.post-meta {

	font-size: 14px;
	line-height: 16px;
	color: gray;

	a {
		color: gray;
	}
}

.post-description {
	img {
		margin: 30px auto;
		max-width: 70%;
		height: auto;
		display: block;
	}

	iframe {
		margin: 30px auto;
		display: block;

	}

	p:last-child {
		margin-bottom: 0;
	}

}

.post-img-caption {
	display: block;
	text-align: center;
	margin-top: -30px;
	color: gray;
	margin-bottom: 10px;
}

.post-page-nav {
	text-align: center !important;
	margin-top: 26px;

	a:hover {
		text-decoration: none;
	}
}

.twitter-feed {
	.twitter-head {
		h3 {
			float:left;
		}

		.follow-twitter {
			float: right;
			margin-top: 24px;
		}
	}

	.event-wrapper {
		margin-top: 18px;
	}
}

/*-----  End of Blog  ------*/


/*==============================
=            Presse            =
==============================*/

.press-clippings {
	margin-top: 50px;
	padding: 0;
	list-style-type: none;

	li {
		margin-bottom: 40px;
	}

	.press-clipping-meta {
		margin-bottom: 0;
	}

}

/*-----  End of Presse  ------*/


/*===============================
=            Stories            =
===============================*/

.story-teaser--image, .story--head, .hero-pattern {

	a {
		text-decoration: none;
	}

	svg {
		display: block;
		stroke: #FFFFFF;
		height: 100%;
		width: 100%;
	}
}

.story__red {
	svg, .story--header--title, .story-teaser--title, .story--header--hero, .story--header--meta {
		background-color: $red;
	}
	.story--links a, blockquote {
		color: $red;
	}
}

.story__green {
	svg, .story--header--title, .story-teaser--title, .story--header--hero, .story--header--meta {
		background-color: $green;
	}
	.story--links a, blockquote {
		color: $green;
	}
}

.story__blue {
	svg, .story--header--title, .story-teaser--title, .story--header--hero, .story--header--meta {
		background-color: $blue;
	}
	.story--links a, blockquote {
		color: $blue;
	}
}

.story__cyan {
	svg, .story--header--title, .story-teaser--title, .story--header--hero, .story--header--meta {
		background-color: $cyan;
	}
	.story--links a, blockquote {
		color: $cyan;
	}

}

.story-teaser {
	position: relative;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

// IE responsive SVG fix
.story-teaser--image {

	padding-top: ( 415 / 640 ) * 100%;

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}
}


.story-teaser--title {

	position: absolute;
	width: 100%;
	padding: 0 25px;

	top: 50%;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);

	color: white;

	h2 {
		font-family: 'League Spartan', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
		font-size: 18px;
		line-height: 1.5;
		text-transform: none;
	}

	a {
		text-decoration: none;
		color: white;
	}
}

.story {}

.story--head {
	position: relative;
	text-align: center;
}

.story--pattern, .hero-pattern {

	overflow: hidden;
	position: relative;

	&:before {
		content: "";
		display: block;
		padding-top: 17%;
	}

	svg {
		height: initial;
		width: 200%;
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%);
	}
}



.hero-pattern-wrap, .story--pattern-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}

// IE responsive SVG fix
.hero-pattern-wrap {

	padding-top: ( 415 / 1280 ) * 100%;

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}
}


// IE responsive SVG fix
.story--pattern-wrap {

	padding-top: ( 1030 / 1280 ) * 100%;

	svg {
		position: absolute;
		top: 0;
		left: 0;
	}
}


.story--header {
	width: 100%;
	color: white;
}

.story--header--hero {

	left:0; right: 0;
	margin: 0 auto;
	padding: 10px;

	.caption {
		color: white;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-transform: uppercase;
	}

}

.story--header--title {
	font-family: 'League Spartan', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	font-size: 24px;
	line-height: 1.5;
	text-transform: none;
	margin: 0;
	padding: 25px;
}

.story--header--meta {
	text-transform: uppercase;
	padding-bottom: 25px;
	margin-bottom: 0;

	a {
		color: white;
	}
}


.story--lead p {
	font-family: 'League Spartan', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	line-height: 1.5;
	font-size: 24px;
	text-align: center;
	margin-bottom: 50px;
}

.story--embed {
	margin-top: 80px;
	margin-bottom: 80px;
	max-width: 500px;
	margin: 0 auto;
}

.story-wrapper {
	padding: 25px 15px 15px 15px;
}

.story--body {

	h1, h2, h3, h4, h5 {
		font-family: 'League Spartan', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
		font-size: 24px;
		text-transform: none;
	}

	p {
		font-family: 'Junction', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
		margin-bottom: 40px;
	}

	figure {
		img {
			display: block;
			height: auto;
			max-width: 100%;
		}
	}

	figure.right {
		margin: 0 0 25px 0;
	}

	figure.left {
		margin: 0 0 25px 0;
	}

	figcaption {
		font-family: 'Junction', Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 0;
	}


	blockquote {
		position: relative;
		padding: 0;
		margin: 0 25px 15px 0;

		border: 0;

		p {
			font-family: 'League Spartan', "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
			font-size: 24px;
			text-indent: 36px;
			margin: 0;
		}

		p:before {
			/* left double quotation mark */
			content: "\201C";
			font-size: 60px;
			display: block;
			position: absolute;
			top: -12px;
			left: -36px;
		}

		footer {
			font-family: 'Junction', Helvetica, Arial, sans-serif;
			font-size: 14px;
			margin-bottom: 0;


		}
	}

}

.footer-small {
  font-size: 13px !important;
}

.story--links, .story--members {
	padding: 15px 15px 0 15px;
}

.story--members {
	.fond__greymid {
		background-color: $grey-bright;
	}

	.lab-members .member {
		// float: none;
	}
}

/*-----  End of Stories  ------*/

/*================================
=  Digital Refugee Labs          =
================================*/

// for digital refugee labs
.hero-pattern__drl {

	&:before {
		padding-top: 30%;
	}

	svg {
		stroke: none;
	}
}



.drl-page-wrap {

	p a {
		text-decoration: underline;
	}

	background-color: $green2;
	background-image: url('/img/digital_refugee_labs.svg');
	font-family: $junction;
	padding: 10px;


	.page-title {
		color: $white;
		font-family: $leaguespartan;
		font-size: 40px;
		word-spacing: 100em;
		letter-spacing: 0.05em;

	}

	.story-wrapper {
		padding:0;
	}

	.drl-body,
	.drl-teaser {
		color: black;
		font-family: $junction;
	}

	.drl-teaser-wrapper {
		padding: 20px;
		margin-bottom: 20px;
	}

	.drl-teaser-header a {
		display: block;
		position: relative;

		&:active, &:focus {
			text-decoration: none;
			outline: 0;
			color: $black;
		}

		&::after {

			content: "";

			width: 21px;
			height: 24px;
			display: inline-block;
			background: url('/img/arrow_down.svg') no-repeat;
			-webkit-transform: rotate(0);
			        transform: rotate(0);
			transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
			transition: transform 0.5s, -webkit-transform 0.5s;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}

	.drl-teaser-title {
		font-family: $leaguespartan;
		font-size: 28px;
		color: $white;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: none;
	}

	.drl-teaser-date {
		font-size: 18px;
		margin-top: 12px;
		font-family: $junction;
		position: relative;

		&:after {

		}
	}

	.drl-teaser-header {
		.collapsed::after {
				-webkit-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}


	.drl-teaser-location {
		margin-top: 2em;
		margin-bottom: 3em;
		line-height: 1.5;
	}

	.drl-teaser-space {
		font-size: 28px;
		font-family: $junction;

	}

	.drl-teaser-labs {

		margin-top: 1em;

		a {
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 1em;
			text-decoration: none;
			color: $red;
			background: $white;
			padding: 0.5em 1em;
		}
	}

	.cta {
		font-family: $apercu;
		background: $white;
		text-transform: uppercase;
		padding: 0.5em 0.75em;
		text-decoration: none;
		margin-top: 2em;
		display: inline-block;
	}

	.section-heading {
		text-align: center;
		font-size: 40px;
		font-family: $leaguespartan;
		color: $white;
		margin-top: 100px;
	}

	.panel-collapse {
		background: $green2;
		padding: 10px;
	}

}

.drl-footer {

	padding: 30px;

}


/*================================
=  Open Data Day 				         =
================================*/

.odd-override {
	background-color: $odd-green;
	background-image: none;

	.drl-body,
	.drl-teaser {
		color: black;
	}
}

/*================================
=  Wahlsalons      					     =
================================*/

// for digital refugee labs
// .hero-pattern__drl {

// 	&:before {
// 		padding-top: 30%;
// 	}

// 	svg {
// 		stroke: none;
// 	}
// }

.fond__border {
	border: 3px solid black;
}


.ws-page-wrap {

		background-color: RGBA(233,237,243,0.3);
		background-image: url('/img/wahlsalons_backgrounds_1.svg'),
											url('/img/wahlsalons_backgrounds_2.svg'),
											url('/img/wahlsalons_backgrounds_3.svg'),
											url('/img/wahlsalons_backgrounds_4.svg');
		font-family: $junction;
		background-size: 100%;
		padding: 0px;



	.ws-logo {
		background-image: url('/img/wahlsalons_logo.svg');
		background-repeat: no-repeat;
		display: block;
		height: 50px;
		width: 80%;
		margin: 0 auto 50px auto;
	}

	.leadin {
		font-family: $roboto;
		font-size: 24px;
		line-height: 1.3;
		margin-bottom: 2rem;
	}

	p a {
		text-decoration: underline;
	}



	.page-title {
		color: $black;
		font-family: $leaguegothic;
		font-size: 40px;
		word-spacing: 100em;
		letter-spacing: 0.05em;

	}

	.story-wrapper {
		// padding:0;
		text-align: center;
	}

	#accordion-faq {

		h4 > a {
			display: inline-block;
			padding: 10px;
		}

		.panel-body {
			padding: 10px;

			p {
				font-family: $junction;
			}
		}

	}

	.ws-body,
	.ws-teaser {
		color: black;
		font-family: $junction;
	}

	.project-wrapper {
		margin-bottom:0;
	}

	.packery-item {
		margin-bottom: 20px;
	}

	.ws-teaser-wrapper {
		padding: 20px;
		margin-bottom: 20px;
	}

	.ws-teaser {
					p {
				font-family: $junction;
			}
	}

	.ws-teaser-header a {
		display: block;
		position: relative;

		&:active, &:focus {
			text-decoration: none;
			outline: 0;
			color: $black;
		}

		&::after {

			content: "";

			width: 21px;
			height: 24px;
			display: inline-block;
			background: url('/img/arrow_down_outline.svg') no-repeat;
			-webkit-transform: rotate(0);
			        transform: rotate(0);
			transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
			transition: transform 0.5s, -webkit-transform 0.5s;

			position: absolute;
			// top: 0;
			right: 0;
			bottom: 12px;
			margin: auto;
		}

	}

	.ws-teaser-title {
		font-family: $leaguegothic;
		text-transform: uppercase;
		font-size: 28px;
		color: $black;
		margin-top: 0;
		margin-bottom: 0;
	}

	.ws-teaser-date {
		font-size: 18px;
		margin-top: 30px;
		font-family: $roboto;
		position: relative;

		&:after {

		}
	}

	.ws-teaser-header {
		.collapsed::after {
				-webkit-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}

	.ws-teaser-location {
		margin-top: 2em;
		margin-bottom: 3em;
		line-height: 1.5;
	}

	.ws-teaser-space {
		font-size: 28px;
		font-family: $roboto;
	}

	.ws-teaser-labs {

		margin-top: 1em;

		a {
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 1em;
			text-decoration: none;
			color: $black;
			background: $white;
			padding: 0.5em 1em;
			border: 3px solid black;
		}
	}

	.cta {
		// font-family: $apercu;
		background: $black;
		color: $white;
		text-transform: uppercase;
		padding: 0.5em 0.75em;
		text-decoration: none;
		margin-top: 2em;
		display: inline-block;
	}

	.section-heading {
		text-align: center;
		font-size: 46px;
		font-family: $leaguegothic;
		color: $black;
		margin-top: 100px;
	}

	.panel-collapse {
		background: $white;
		padding: 10px;
	}

	.signup-form {

		margin-top: 5rem;

		.form-control {
			border: 1px solid black;
			box-shadow: none;
		}

		.btn {
			border: 1px solid black;
			background: black;
			color: white;
		}

	}

}


@media
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {

  	.chrome .ws-page-wrap {
  		background-image: url('/img/wahlsalons_backgrounds_1.png'),
  											url('/img/wahlsalons_backgrounds_2.png'),
  											url('/img/wahlsalons_backgrounds_3.png'),
  											url('/img/wahlsalons_backgrounds_4.png');
  	}
}




.ws-footer {

	padding: 30px;

}



/*================================
=  Leaflet Map                   =
================================*/

.map-container {
	position: relative;
}

#lab-map {
	width: 100%;
}

.lab-map-home {
	height: 300px;
}

.lab-map-city {
	height: 200px;
}

.lab-map-iframe {
	height:100vh;
}

.leaflet-marker-icon-wrapper {
	position: absolute
}

.leaflet-marker-iconlabel {
	background: white;
	background: rgba(255, 255, 255, 0.75);
	display: block;
	color: $red;
	font-family: "Apercu Mono Pro Regular", 'Andale Mono', sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 6px;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.leaflet-marker-iconlabel.city-marker {
	font-size: 16px;
}

.leaflet-marker-iconlabel.label-left {
	right: 4px;
	position: absolute;
}

.leaflet-marker-icon-wrapper:hover .leaflet-marker-iconlabel {
	background: white;
	display: inline-block;
}

.leaflet-container .leaflet-marker-iconlabel a {
	color: $red;
	text-decoration: none;
}

.h4c-map-legend-wrap {
	padding: 20px;
	position: absolute;
	bottom: 0;
}

.h4c-map-legend-text {
	font-size: 13px;
	padding: 0 8px;
	display: inline-block;
	background: white;
	color: $red;
}

/*-----  End of Leaflet Map  ------*/

.row.board {
	margin-top: 10px;
	margin-bottom: 10px;
}
