---
layout: base
title: Open Data Day
og-description: Open Data Day
og-image: img/odd.png
---

<div class="drl-page-wrap odd-override">
   
    <div class="container">

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">  
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">  
          <div class="story-wrapper">
            <div class="drl-body clearfix">
              <p>
               Glauben oder nicht glauben, Lorem Ipsum ist nicht nur ein zufälliger Text. Er hat Wurzeln aus der Lateinischen Literatur von 45 v. Chr, was ihn über 2000 Jahre alt macht. Richar McClintock, ein Lateinprofessor des Hampden-Sydney College in Virgnia untersuche einige undeutliche Worte, "consectetur", einer Lorem Ipsum Passage und fand eine unwiederlegbare Quelle. Lorem Ipsum komm aus der Sektion 1.10.32 und 1.10.33 des "de Finibus Bonorum et Malorum" (Die Extreme von Gut und Böse) von Cicero, geschrieben 45 v. Chr. Dieses Buch ist Abhandlung der Ethiktheorien, sehr bekannt wärend der Renaissance. Die erste Zeile des Lorem Ipsum, "Lorem ipsum dolor sit amet...", kommt aus einer Zeile der Sektion 1.10.32.
             </p>  
           </div>
         </div>
       </div>
     </div>


   {% for sitepage in site.pages %}
     {% if sitepage.type == 'ODD' and sitepage.layout == 'project' %}
      {% assign ODDprojectsExist = true %}
     {% endif %}
   {% endfor %}

   {% if ODDprojectsExist == true %}
   <!-- Projekte -->
   <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text__black">
      <h2 class="section-heading">Teilnehmende Projekte</h2>
      <div class="loading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <div>...laden...</div>
      </div>
      <div class="packery-container">
        <div class="packery-item-gutter"></div>
        {% for sitepage in site.pages %}
        {% if sitepage.type == 'ODD' and sitepage.layout == 'project' %}
        <div class="packery-item" >
          {% include project-teaser.html %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Projekte End -->
  {% endif %}

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 drl-footer partner">
      <img class="drl-partner-logo img-responsive" src="/img/bpb-logo.svg" alt="gefördert durch die Bundeszentrale für politische Bildung" >
    </div>
  </div>
</div>

<script src="/js/lib/packery.pkgd.min.js"></script>
<script src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script src="/js/PackeryGrid.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    packery = new PackeryGrid('.packery-container','.packery-item', '.packery-item-gutter');
  });
</script>
