---
layout: base

---

<!-- Blog -->
<div class="jumbotron fond__grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" >
      	<h3>Blog</h3>
         {% for post in paginator.posts %}
            {% include post-teaser.html %}
         {% endfor %}
         
         <div class="blog-page-nav clearfix">
          {% if paginator.previous_page_path %}
           <a class="newer" href="{{ paginator.previous_page_path }}">Neuere Einträge</a>
          {% endif %}

          {% if paginator.next_page_path %}
           <a class="older" href="{{ paginator.next_page_path }}">Ältere Einträge</a>
          {% endif %}


         </div>
     </div>

     <div class="col-lg-4" >
       {% include twitter-feed.html  %}
      </div>
    </div>

  </div>
</div>
<!-- Termine & Projekte End -->
