---
layout: base

---

<!-- Blog -->
<div class="jumbotron fond__grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" >
      	<h3>Blog</h3>
       {% for post in site.categories.news %}
       {% include post-teaser.html %}
       {% endfor %}
     </div>

     <div class="col-lg-6" >

       {% include twitter-feed.html  %}

      <h3>Termine</h3>

      {% for event in site.data.events limit:3 %}
      {% include event.html %}
      {% endfor %}
      <p><a href="/termine/index.html">weitere Termine... </a>


      </div>
    </div>

  </div>
</div>
<!-- Termine & Projekte End -->
