---
layout: base

---

<!-- Get metadata from collection -->
{% for lab in site.labs %}
  {% if page.key == lab.key %}
    {% assign meta = lab %}
    {% break %}
  {% endif %}
{% endfor %}


<!-- Lab Map -->
<div class="jumbotron fond__gray map-container" style="padding:0px;">
      <div id="lab-map" class="lab-map-city"></div>
      {% if meta.special %}
        {% include drl-map-legend.html %}
      {% endif %}
</div>

{% if meta.showsignup %}
  {% include join-form-lab.html %}
{% else %}

<!-- Lab Info -->
<div class="jumbotron fond__green text__white">
  <div id="lab" class="container lab-info">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="highlight-white"> {{ meta.title }} </h1>
        {{ page.content | markdownify }}
      </div>
      <div class="col-lg-6">

        {% if meta.links %}

        {% if page.lang == 'en' %}
        <h3>Basic Info</h3>
        {% else %}
        <h3>Basis Info</h3>
        {% endif%}

        <ul class="list-unstyled lab-links" >
          {% for link in meta.links %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>

        {% endif %}

        {% if meta.leads %}

        {% if page.lang == 'en' %}
        <h3>Contact</h3>
        {% else %}
        <h3>Kontakt</h3>
        {% endif%}

        <ul class="list-unstyled lab-links" >
          {% for lead in meta.leads %}
          <li>
            <a href="{{ lead.url }}">{{ lead.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}


      </div>
    </div>

  </div>
</div>
<!-- Lab Info End -->


<!-- Termine  -->

{% assign event_count = 0 %}
{% assign events = site.termine | sort: 'date' %}

{% for event in events %}

  {% if event.lab == meta.lab %}
    {% assign date = event.date | date: '%s' %}
    {% assign now = site.time | date: '%s' | minus: 86400 | date: '%s'%}
    {% unless date < now %}
      {% capture event_count %}{{ event_count | plus:1 }}{% endcapture %}
    {% endunless %}
  {% endif %}

{% endfor %}
{% assign loop_index = 0 %}

{% unless event_count == 0 %}

<div class="jumbotron fond__grey">
  <div class="container">
    <h3 id="events">Termine</h3>
      <div class="row">

      {% assign event_count=event_count | minus:1 %}

        {% for event in events %}
        {% if event.lab == meta.lab %}
            {% assign date = event.date | date: '%s' %}
            {% assign now = site.time | date: '%s' | minus: 86400 | date: '%s'%}
            {% unless date < now %}
                <div class="{% if event_count == 0 %}col-lg-12{% else %}col-lg-6{% endif %}" >
                  {% include event.html %}
                </div>

                {% comment %} Every second event close row and open new {% endcomment %}
                {% assign loop_index_modulo_2 = loop_index | modulo: 2 %}
                {% if 1 == loop_index_modulo_2 %}
                  {% comment %} Unless it is the last iteration {% endcomment %}
                  {% if loop_index < event_count %}
                    </div><div class="row" >
                  {% endif %}
                {% endif %}

              {% if loop_index == event_count %}
              </div>
              {% endif %}
              {% assign loop_index = loop_index | plus:1 %}
            {% endunless %}

    {% endif %}
    {% endfor %}

</div>
</div>
{%endunless%}

<!-- Termine End -->

<!-- Projekte -->
{% assign project_count = 0 %}
{% for sitepage in site.pages %}
 {% if sitepage.lab contains meta.lab %}
   {% capture project_count %}{{ project_count | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}

{% unless project_count == '0' %}
<div class="jumbotron fond__blue">
  <div class="container">

    {% if page.lang == 'en' %}
    <h3 id="projects">Projects</h3>
    {% else %}
    <h3 id="projects">Projekte</h3>
    {% endif%}

    <div class="loading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <div>...laden...</div>
      </div>
    <div class="packery-container">
      <div class="packery-item-gutter"></div>
      {% if meta.projectsorder == 'reverse' %}
        {% assign sorted = (site.pages | sort: 'date' | reverse) %}
      {% else %}
        {% assign sorted = (site.pages | sort: 'date') %}
      {% endif %}
      {% for sitepage in sorted %}
        {% if sitepage.lab contains meta.lab %}
          {% if sitepage.layout == 'project' %}
          <div class="packery-item" >
           {% include project-teaser.html type='page' %}
         </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endunless %}

<!-- Projekte End -->

<!-- Mitglieder-->

{% if meta.members %}
  {% assign members = meta.members %}
  <div class="jumbotron fond__greymid">
    <div class="container">
        <div class="row">

        {% if page.lang == 'en' %}
        <h3 id="members"> Members </h3>
        {% else %}
        <h3 id="members"> Mitglieder </h3>
        {% endif%}

        <div class="col-lg-12">
          {% include members-list.html %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endif %}


<script src="/js/lib/packery.pkgd.min.js"></script>
<script src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script src="/js/PackeryGrid.js"></script>
<script src="/js/lib/prettyCheckbox.min.js"></script>

{% include leaflet-city.html %}

<script type="text/javascript">
$(document).ready(function() {
  packery = new PackeryGrid('.packery-container','.packery-item', '.packery-item-gutter');
  $(":checkbox").prettyCheckbox();
});
</script>

<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ meta.title }}",
    {% if page.lang == 'en' %}
    "url" : "http://codefor.de/{{ meta.key }}/",
    {% else %}
    "url" : "http://codefor.de/en/{{ meta.key }}/",
    {% endif%}
    "sameAs" : [
      {% for link in meta.links %}
        "{{ link.url }}"{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    ]
  }
</script>
