---
layout: base

---

<!-- Lab Map -->
<div class="jumbotron fond__gray" style="padding:0px;">
      <div id="lab-map" class="lab-map-city"></div>
</div>


{% if page.showsignup %}
  {% include join-form-lab.html %}
{% else %}

<!-- Lab Info -->
<div class="jumbotron fond__green text__white">
  <div id="lab" class="container lab-info">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="highlight-white"> {{ page.title }} </h1>
        {{ page.content | markdownify }}
      </div>
      <div class="col-lg-6">

        {%if page.links %}
        <h3> Basis Info</h3>
        <ul class="list-unstyled lab-links" >
          {% for link in page.links %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {%if page.leads %}
        <h3> Kontakt</h3>
        <ul class="list-unstyled lab-links" >
          {% for lead in page.leads %}
          <li>
            <a href="{{ lead.url }}">{{ lead.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}


      </div>
    </div>

  </div>
</div>
<!-- Lab Info End -->


<!-- Termine  -->

{% comment %} Let's count how many events we have for this lab (needed for layout columns etc.) {% endcomment %}
{% assign event_count = 0 %}
{% for event in site.data.events %}
  {% if event.lab == page.lab %}
   {% capture event_count %}{{ event_count | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
{% assign loop_index = 0 %}

{% unless event_count == 0 %}

<div class="jumbotron fond__grey">
  <div class="container">
    <h3 id="events">Termine</h3>
      <div class="row">

      {% assign event_count=event_count | minus:1 %}

        {% for event in site.data.events %}
        {% if event.lab == page.lab %}
          <div class="{% if event_count == 0 %}col-lg-12{% else %}col-lg-6{% endif %}" >
            {% include event.html %}
          </div>

          {% comment %} Every second event close row and open new {% endcomment %}
          {% if 1 == loop_index | modulo:2 %}
            {% comment %} Unless it is the last iteration {% endcomment %}
            {% if loop_index < event_count %}
              </div><div class="row" >
            {% endif %}
          {% endif %}

        {% if loop_index == event_count %}
        </div>
        {% endif %}
    {% assign loop_index = loop_index | plus:1 %}

    {% endif %}
    {% endfor %}

</div>
</div>
{%endunless%}

<!-- Termine End -->

<!-- Projekte -->
{% assign project_count = 0 %}
{% for sitepage in site.pages %}
 {% if page.lab == sitepage.lab %}
   {% capture project_count %}{{ project_count | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
<!-- remove the ok lab's page -->
{% capture project_count %}{{ project_count | minus:1 }}{% endcapture %}
{% unless project_count == '0' %}
<div class="jumbotron fond__blue">
  <div class="container">
    <h3 id="projects">Projekte</h3>
    <div class="loading">
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <div>...laden...</div>
      </div>
    <div class="packery-container">
      <div class="packery-item-gutter"></div>
      {% for sitepage in site.pages  %}
        {% if page.lab == sitepage.lab %}
          {% if sitepage.layout == 'project' %}
          <div class="packery-item" >
           {% include project-teaser.html type='page' %}
         </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endunless %}

<!-- Projekte End -->

<!-- Mitglieder-->

{% if page.members %}
<div class="jumbotron fond__greymid">
  <div class="container">
      <div class="row">
      <h3 id="members"> Mitglieder </h3>

        <div class="col-lg-12">
        <ul class="list-inline lab-members members clearfix">
          {% for member in page.members %}
          <li class="member clearfix">
            {% if member.username-github %}
             {% capture image_url %}/img/avatars/{{ member.username-github }}.jpg{% endcapture %}
            {% else %}
              {% capture image_url %}/img/contributor_placeholder.svg{% endcapture %}
            {% endif %}
             <img src="{{ image_url }}" alt="{{ member.name }}" class="img-circle member-avatar pull-left">
             <div class="member-info ">
             {{ member.name }} <br>
             {% if member.username-github %}<a href="https://github.com/{{ member.username-github }}">github:{{ member.username-github }}</a><br> {% endif %}
             {% if member.username-twitter %}<a href="https://twitter.com/{{ member.username-twitter }}">@{{ member.username-twitter }}</a>{% endif %}
             </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}


<script src="/js/lib/packery.pkgd.min.js"></script>
<script src="/js/lib/imagesloaded.pkgd.min.js"></script>
<script src="/js/PackeryGrid.js"></script>

<script src="/js/GoogleMaps.js"></script>
<script>
    //the center of map on load
    var google_map_position = "{{ page.lat }}, {{ page.long }}";
    //zoom level
    var google_map_zoom = 13;
    //the markers
    var google_maps_markers = [
        {
            "latlong": " {{ page.lat }},  {{ page.long }}",
            "url":"",   // leave "" to disable marker clickevent
            "text": "{{ page.lab }}"
        }];
</script>

<script src="/js/lib/prettyCheckbox.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

  gmap = new GoogleMaps(google_map_position, google_map_zoom, google_maps_markers,'/img/lab_marker.png');
  packery = new PackeryGrid('.packery-container','.packery-item', '.packery-item-gutter');
  // $(":checkbox").prettyCheckbox();

});

</script>
