---
layout: base

---

<!-- Lab Info -->
<div class="jumbotron fond__green text__white">
  <div class="container lab-info">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="highlight-white"> {{ page.title }} </h1>
        <p>{{ page.content }}</p>
      </div>
      <div class="col-lg-6">
        <h3> Basis Info </h3>
        <ul class="list-unstyled lab-links" >
          {% for link in page.links %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <h3> Kontakt </h3>
        <ul class="list-unstyled lab-links" >
          {% for lead in page.leads %}
          <li>
            <a href="{{ lead.url }}">{{ lead.name }}</a> 
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- Lab Info End -->


<!-- Termine & Projekte -->
<div class="jumbotron fond__grey">
  <div class="container">
    <h3>Termine</h3> 

      {% comment %} Let's count how many projects we have for this lab (needed for layout columns etc.) {% endcomment %}
      {% assign event_count = 0 %}
      {% for event in site.data.events %}
        {% if event.lab == page.lab %}
         {% capture event_count %}{{ event_count | plus:1 }}{% endcapture %}
        {% endif %}
      {% endfor %}

      {% assign loop_index = 0 %}
      
    {% unless event_count == 0 %}
      <div class="row">
    {%endunless%}

      {% assign event_count=event_count | minus:1 %}
        
        {% for event in site.data.events %}
        {% if event.lab == page.lab %}
          <div class="{% if event_count == 0 %}col-lg-12{% else %}col-lg-6{% endif %}" >
            {% include event.html %}
          </div>

          {% comment %} Every second event close row and open new {% endcomment %}
          {% if 1 == loop_index | modulo:2 %}
            {% comment %} Unless it is the last iteration {% endcomment %}
            {% if loop_index < event_count %}
              </div><div class="row" >
            {% endif %}
          {% endif %}

        {% if loop_index == event_count %}
        </div>
        {% endif %}
    {% assign loop_index = loop_index | plus:1 %}

    {% endif %}
    {% endfor %}

</div>
</div>
<!-- Termine & Projekte End -->

<!-- Termine & Projekte -->
<div class="jumbotron fond__blue">
  <div class="container">
    <h3> Projekte </h3> <a href="https://github.com/okfde/codefor.de/tree/gh-pages/projects/_posts"> Projekt hinzufügen </a>

    {% comment %} Let's count how many events we have for this lab (needed for layout columns etc.) {% endcomment %}
    {% assign project_count = 0 %}
    {% for project in site.categories.projects %}
    {% if project.lab == page.lab %}
    {% assign project_count=project_count | plus:1 %}
    {% endif %}
    {% endfor %}

    {% assign loop_index = 0 %}
    {% unless project_count == 0 %}
      <div class="row">
    {%endunless%}
    
    {% comment %} dirty but compensates for liquid comparison logic wiredness in if clauses later on (around loop_index < project_count) {% endcomment %}
    {% assign project_count=project_count | minus:1 %}

      {% for post in site.categories.projects %}
      {% if post.lab == page.lab %}

      <div class="col-lg-6" >
        {% include project.html %}
      </div>

      {% comment %} Every second project close row and open new {% endcomment %}
      {% if 1 == loop_index | modulo:2 %}
      {% comment %} Unless it is the last iteration {% endcomment %}
      {% if loop_index < project_count %}
    </div><div class="row" >
    {% endif %}
    {% endif %}

    {% if loop_index == project_count %}
  </div>
  {% endif %}
  {% assign loop_index = loop_index | plus:1 %}

  {% endif %}
  {% endfor %}

</div>
</div>
<!-- Termine & Projekte End -->

<!-- Mitglieder-->
<div class="jumbotron fond__greymid">
  <div class="container">



      <div class="row">
      <h3> Mitglieder </h3>

        <div class="col-lg-12">
        <ul class="list-inline lab-members members">
          {% for member in page.members %}
          <li class="member">
            {% if member.username-github %}
             {% capture image_url %}/img/avatars/{{ member.username-github }}.jpg{% endcapture %}
            {% else %}
              {% capture image_url %}/img/contributor_placeholder.svg{% endcapture %}
            {% endif %}
             <img src="{{ image_url }}" alt="{{ member.name }}" class="img-circle member-avatar pull-left">
             <div class="member-info ">
             {{ member.name }} <br>
             {% if member.username-github %}<a href="https://github.com/{{ member.username-github }}">github:{{ member.username-github }}</a><br> {% endif %}
             {% if member.username-twitter %}<a href="https://www.twitter.com/{{ member.username-twitter }}">@{{ member.username-twitter }}</a>{% endif %}
             </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
