---
layout: base

---


<div class="fond__grey">
	<div class="container">

		<h1 class="text__blue page-title"><span class="text__red">![</span>Blog{% if page.tagpage %}: {{ page.title }}{% endif %}<span class="text__red">]</span></h1>


		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 post" >
				{% include post.html %}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 post-page-nav" >
					<a href="/blog">~ Zurück zum Blog ~</a>
			</div>
		</div>

	</div>
</div>
