---
layout: base

---

<!-- Story -->
<div class="fond__grey story">
  
  <div class="story--head svg-wrap hero-pattern hero-pattern__{{ page.color }}">
      {% include story_wallpaper.svg %}
    <div>
      <h1 class="story--title">
        {{ page.title }} {% if page.subline %} - {{ page.subline }} {% endif page.subline %} 
      </h1>
      <p class="story--meta"> {{ page.where }} / {{ page.when }} / 
        {% for link in page.links | limit: 1 %}
          <a href="{{ website.url }}">{{ link.name }}</a>
        {% endfor %}
      </p>
    </div>
    <div class="story--hero">
        {% for image in page.header-images | limit: 1 %}
        <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-responsive" />
        {% endfor %}
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <div class="story-wrapper fond__white">
          
          <div class="text__{{ page.color }} story--lead">
              {{ page.lead | markdownify }}
          </div>
        
          <div class="story--embed">
              {{ page.embed }}
          </div>

          <div class="story--body">
              {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% if page.members %}
<div class="story--members">
  {% assign members = page.members %}
  {% include section-members.html %}
</div> 
{% endif %}

<script src="/js/lib/fluidvids.min.js"></script>
<script src="/js/lib/snap.svg-min.js"></script>
<script src="/js/lib/velocity.min.js"></script>
<script src="/js/SVGanim.js"></script>

<script type="text/javascript">

  $(document).ready(function () {
      var svganim = new SVGanim();
      svganim.init();

      fluidvids.init({
        selector: ['iframe', 'object'], // runs querySelectorAll()
        players: ['www.youtube.com', 'player.vimeo.com'] // players to support
      });
    });

</script>