---
layout: base

---

<!-- Story -->
<div class="fond__grey story">
  <div class="text-center font__grey story-head hero-pattern hero-pattern__{{ page.color }}">
      {% include wallpaper_pattern.min.svg %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">  
        <div class="story-wrapper fond__white">
          <h1 class="story-title">
            {{ page.title }}
          </h1>
          
          <div class="text__{{ page.color }} story-lead">
              {{ page.lead | markdownify }}
          </div>
        
          <div class="story-embed">
              {{ page.embed }}
          </div>

          <div class="story-images">
              {% for image in page.images %}
                <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-responsive" >
              {% endfor %}
          </div>

          <div class="story-body">
              {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% if page.members %}
<div class="story-members">
  {% assign members = page.members %}
  {% include section-members.html %}
</div> 
{% endif %}

<script src="/js/lib/fluidvids.min.js"></script>
<script type="text/javascript">
  fluidvids.init({
  selector: ['iframe', 'object'], // runs querySelectorAll()
  players: ['www.youtube.com', 'player.vimeo.com'] // players to support
});
</script>