---
layout: base
title: Stories

---
<div class="container-fluid clearfix">
	{% for story in site.stories %}
	<div class="col-md-6 story-teaser story__{{ story.color }}">  	<a href="{{ story.url }}" >
			<div class="story-teaser--image">
				{% case story.pattern %}
				    {% when 1 %}
						{% include inline-svg/optimized/story_teaser_1.svg %}
				    {% when 2 %}
				    	{% include inline-svg/optimized/story_teaser_2.svg %}
				    {% when 3 %}
				    	{% include inline-svg/optimized/story_teaser_3.svg %}
				    {% when 4 %}
				    	{% include inline-svg/optimized/story_teaser_4.svg %}
				{% endcase %}
			</div>
			<div class="story-teaser--title text-center">
					<h2>{{ story.title }} {% if story.subline %} - {{ story.subline }} {% endif story.subline %} </h2>
			</div>
		</a>
	</div>
	{% endfor %}
	
	{% comment %}
	{% include story-teaser-fillin.html %}
	{% endcomment %}
	
</div>
