---
layout: base

---

<!-- Lab Map -->
<div class="jumbotron fond__green" style="padding:0px;">
  <div id="lab-map" class="lab-map-home"></div>
</div>

<!-- About -->
<div class="beneath-sections jumbotron fond__blue animated">
  <div class="container text-center text__black">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
        Jede Woche treffen sich in ganz Deutschland Code for Germany Teams die gemeinsam an nützlichen Anwendungen und Visualisierungen rund um offene Daten und digitale Werkzeuge für die Menschen in ihrer Stadt arbeiten. Die lokalen Gruppen, bestehend aus Programmiererinnen, Designern und Open Data Interessierten, setzen ihre technischen Fähigkeiten für sich und andere ein und erproben wie Code und Software dabei helfen können ihre Stadt und Nachbarschaft zu verbessern. <br><br>

        Wo gerade welche Anwendungen und Projekten entstehen, wann das nächste Treffen stattfindet und wie man mitmachen kann, erfährt man durch einen Klick auf die Stadt in seiner Nähe!


        </p>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
      <div class="col-lg-4 highlight">
        <p class="highlight-red" >Use civic tech to make your community better!</p>
      </div>
    </div>
    -->
  </div>
</div>



<script src="/js/GoogleMaps.js"></script>

<script>
    //the center of map on load
    var google_map_position = "51.1642292,10.4541194";
    //zoom level
    var google_map_zoom = 6;
    //the markers
    var google_maps_markers = [
    {% for lab in site.pages %}
     {% if lab.lab %}
        {
            "latlong": "{{ lab.lat }} , {{ lab.long }}",
            "url":"{{ lab.url }} ", // leave "" to disable marker clickevent
            "text": "{{ lab.lab }}"
        },
     {% endif %}
   {% endfor %}
    ];
</script>

<script type="text/javascript">
$(document).ready(function() {
  gmap = new GoogleMaps(google_map_position, google_map_zoom, google_maps_markers,'/img/lab_marker.png');
});
</script>