---
layout: base
title: Alle Projekte

---

<!-- Projekte -->
<div class="jumbotron fond__blue">
  <div class="container">
    <div class="clearfix">
      <h3 class="pull-left">Alle Projekte</h3>
      <span class="h4 pull-right"><a href="/projekte">Projekt Showcase …</a></span>
    </div>

    {% assign sorted_site_pages = site.pages | sort: 'date' | reverse %}
    {% for sitepage in sorted_site_pages %}
      {% if sitepage.layout == 'project' %}
        {% include project-teaser-slim.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<!-- Projekte End -->
